@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Delete subvencion wrapper */
body .subv_delete_wrapper {
  width: 95%;
  margin: auto;
  max-width: 380px;
  text-align: center;
  padding-top: 50px;
  font-size: 14px;

  /* Delete subvencion form */
  .subv_delete_form {
    display: block;
    margin-top: 0em;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 2.9em 2.5em 1.7em 2.5em;

    /* Form delete subvencion errors */
    .delete_subv_form_message_error {
      color: #ff7142;
      background-color: #fff5f2;
      border-radius: 3px;
      display: flex;
      align-items: center;
      min-height: 50px;
      padding: 6px 25px 6px 15px;
      margin-bottom: 10px;
    }

    .delete_subv_form_block_input {
      text-align: left;
      margin-bottom: 1em;

      .delete_subv_form_inner_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        .delete_subv_form_submit_button, .delete_subv_form_cancel_button {
          border: solid 1px #e6e6e6;
          width: 100%;
          border-radius: 3px;
          padding: .8em 1.1em;
          font-size: 16px;
          background-color: #07889B;
          color: #fff;

          &:focus {
            border: solid 1px #00b5e2;
          }

          &:hover {
            background-color: #17979b;
          }
        }
      }
    }
  }
}

/* Comments span user date */
.comment_user_date {
  text-decoration: underline;
}

/* Fixed checkbox with inline text */
input[type=checkbox], input[type=radio] {
    box-sizing: border-box!important;
    padding: 0px 0px 0 0!important;
    position: absolute!important;
    margin: 3.8px 0 0 -15px!important;
}

/* Increase modal related subvenciones width */
@media (min-width: 992px) {
  .modal-lg {
    max-width: 1500px!important;
  }
}

/* Custom checkbox create/edit print */
/*** custom checkboxes ***/
#id_impreso { display:none; } /* to hide the checkbox itself */
#id_impreso + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

#id_impreso + label { margin-top: 24px; margin-left: -20px; }
#id_impreso + label:before { content: "\f02f"; position: relative; } /* unchecked icon */
#id_impreso + label:before { letter-spacing: 10px; font-size: 20px; color: #ddd; } /* space between checkbox and label */

#nested-checkbox-print {
  position: absolute;
  top: 13px;
  left: 9.5px;
  font-size: 300%;
}

#id_impreso + .nested-icon-check:before {
  color: #000;
}

/* Sidebar navigation Filtering */
@media only screen and (max-width: 1170px) {
    .cd-filter {
       padding-top: 70px;
       width: 40%!important;
    }
}
.cd-filter {
    position: absolute;
    top: 51px;
    left: 0;
    width: 20%;
    background: #fff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    backface-visibility: hidden;
    transform: translateX(-100%);
    transition: transform .3s,box-shadow .3s;
}
.cd-filter.filter-is-visible {
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0,0,0,.2);
}
.cd-filter::before {
    content: 'Filtro';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #044a54;
    z-index: 2;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    font-size: 20px;
}
@media only screen and (min-width: 1170px) {
    .cd-filter form {
        padding: 70px 10%;
    }
}
.cd-filter.filter-is-visible .cd-close {
    opacity: 1;
}
.cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background: #03333a;
    transition: opacity .3s;
    z-index: 3;
    text-decoration: none;
}
.cd-filter .cd-close:hover {
    background: #021c1f;
}

/* Estados info div */
.boards-drawer {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.4);
  border-radius: 0 3px 3px 0;
  display: none;
  overflow: hidden;
  position: fixed;
  right: 55px;
  width: 315px;
  top: 51px;
  z-index: 1060;
}

.boards-drawer .is-shown {
  display: block;
}

.boards-drawer-content {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 8px 4px 8px 8px;
}

.sidebar-boards-list {
  position: relative;
  padding: 0;
  list-style: none;
  margin-bottom: 0!important;
}

.compact-board-tile {
  box-sizing: border-box;
  position: relative;
  padding: 0 4px 4px 0;
}
.compact-board-tile-wrapper {
  position: relative;

  a {
    color: #444;
    background-color: transparent;

    &:hover {
      color: #111;
      outline: 0;
      text-decoration: none;
    }
  }
}

.compact-board-tile-link {
  border-radius: 3px;
  display: flex;
  font-weight: 700;
  height: 36px;
  padding: 0;
  position: relative;
  text-decoration: none;
}

.compact-board-tile-background,
.compact-board-tile-fade {
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.compact-board-tile-background {
  background-size: cover;
  background-position: 50%;
}
.compact-board-tile-fade {
  background: hsla(0,0%,100%,.88);
}

.compact-board-tile-link-thumbnail {
  flex: 0 0 auto;
  background-size: cover;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: 36px;
  opacity: .7;
  width: 36px;
}

.compact-board-tile-link-text {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 6px 0 9px 10px;
}
.compact-board-tile-text-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Hotfix 1.0.2 New Navbar style */
body .subvenciones-header-menu.fixed {
    position: fixed;
}
body .subvenciones-header-menu {
    width: 100%;
    height: 50px;
    top: 0;
    background: #07889B;
    z-index: 504;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 0 5px 0 rgba(0,0,0,0.15);
    -webkit-font-smoothing: antialiased;
}
body .subvenciones-header-menu__container {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;

    a {
        text-decoration: none;
        cursor: pointer;
        color: rgba(255,255,255,.5);

        &:hover {
            color: #fff;
        }
    }
}
body .subvenciones-header-menu__logo {
    /*height: 19px;
    width: 150px;*/
}
body .subvencion-ui-navigation {
    flex: 1;
    z-index: 4;
    margin-left: 8px;
}
@media (max-width: 1180px) {
    body .subvenciones-header-menu .subvencion-ui-navigation, body .subvenciones-header-menu .subvenciones-header-menu__right-item {
        display: none;
    }
}
@media (max-width: 365px) {
    body .subvenciones-header-menu .subv-anchor-text {
        background-color: #044a54;
        padding-top: 0.7rem;
        padding-right: 0.3rem;
        padding-bottom: 0.8rem;
        padding-left: 0.3rem;
        margin-right: 1rem;
        font-size: 1rem;
        line-height: inherit;
        white-space: nowrap;
    }
}
ul.subvenciones-ul-nav {
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
body .subvenciones-ui-menu.active a {
    color: #fff;
}
body .subvenciones-header-menu .subvencion-ui-navigation .subvenciones-ui-menu {
    padding: 0;
}
.subvenciones-ui-menu.subv-li-nav {
    position: relative;
    height: 100%;
    font-size: 14px;
}
body .subvenciones-header-menu .subvencion-ui-navigation li > a {
    padding: 16px;
}
.subvenciones-ui-menu.subv-a-nav-menu>a.subv-a-nav-menu {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    font-weight: normal;
}
ul.subvenciones-ul-nav a {
    text-decoration: none;
}
body .subvenciones-header-menu__right-item {
    display: flex;
    align-items: center;
}

body .subvenciones-header-menu__right-item .subv-nav-search-bar {
    font-size: 17px;
    padding-bottom: 9px;
    margin-right: 16px;
    min-width: 93px;
}

body .subv-nav-search-bar {
    color: #000;
}

body .subv-header-exchange {
    position: relative;
    cursor: pointer;
}
body .subvenciones-header-menu__right-item__icon {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    width: 30px;
    line-height: 30px;
    margin: 10px 8px 10px 4px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.subvenciones-header-menu__right-item__span {
    margin: 0;
}
span.subvenciones-header-menu__right-item__span i {
    width: 20px;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
body .subv-header-notification {
    position: relative;
    cursor: pointer;
    font-size: 14px;
}

body .subvenciones-header-settings {
    position: relative;
}
body .subvenciones-header-settings__user-info {
    display: flex;
    border-left: 1px solid rgba(122,129,133,0.5);
}
body .subv-anchor-text {
    background-color: #044a54;
    padding-top: 0.6rem;
    padding-right: 1.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.7rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a.subv-anchor-text {
    color: rgba(255,255,255,.8)!important;
}
a.indexFavouritesButton {
    padding-right: 0;
}
span#badge-count-likes {
    margin-top: 0!important;
}
span#navbarDropdown {
    &:hover {
        color: #dddddd;
    }
}
span#estados__info-nav {
    &:hover {
        color: #dddddd;
    }
}
.subvenciones-header-menu__right-item .subvenciones-nav-dropdown {
    height: 100%;
}
.subvenciones-nav-dropdown .dropdown-menu-subv {
    position: relative;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.dropdown-menu__icon.dropdown-subv__icon {
    height: 26px;
    width: 50px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu__icon.dropdown-subv__icon span.subv-dropdown-icon__span, .dropdown-subv__icon span:before, .dropdown-subv__icon span:after {
    transition: all 300ms ease-in-out;
    border-radius: 1px;
    height: 3px;
    width: 18px;
    background-color: #fff;
    position: absolute;
    display: block;
    content: '';
}
.dropdown-menu__icon span:before { top: -6px; }
.dropdown-menu__icon span:after { top: 6px; }
.dropdown-menu__icon--active.dropdown-subv__icon span.subv-dropdown-icon__span {
    background-color: transparent;
}
.dropdown-menu__icon--active span { background-color: transparent; }
.dropdown-menu__icon--active span:before {
    transform: rotate(45deg);
    top: 0;
}
.dropdown-menu__icon--active span:after {
    transform: rotate(-45deg);
    top: 0;
}
.dropdown-menu__icon--active.dropdown-subv__icon span.subv-dropdown-icon__span:before, .dropdown-menu__icon--active.dropdown-subv__icon span.subv-dropdown-icon__span:after {
    transition: all 150ms ease-in-out;
}
.dropdown-menu__icon.dropdown-subv__icon:hover span.subv-dropdown-icon__span {
    background-color: #fff;
    opacity: 0.8;
}
.dropdown-menu__icon--active.dropdown-subv__icon:hover span.subv-dropdown-icon__span {
    background-color: transparent;
}

.dropdown-menu__box--hide.subvenciones-nav-dropdown {
    display: none;
}
.dropdown-menu__box--right.subvenciones-nav-dropdown {
    right: 0;
}
.dropdown-menu__box.subvenciones-nav-dropdown {
    position: absolute;
    width: 220px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.17);
    top: 100%;
    z-index: 4;
}
.menu-item.anchor-drop-dwn__subv {
    display: inline-block;
    padding: 12px 16px;
    width: 100%;
    font-size: 14px;
    background: #fff;
    color: #333;
}
.menu-item.anchor-drop-dwn__subv:hover {
    text-decoration: none;
    background-color: #f6f6f6;
    color: #333;
}
div.subv_inside__anchor--drop {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
span.span__drop--itm {
    display: inline-flex;
    margin: 0;
}
span.span__drop--itm i {
    width: 20px;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}