/* Delete subvencion wrapper */
body .subv_delete_wrapper {
  width: 95%;
  margin: auto;
  max-width: 380px;
  text-align: center;
  padding-top: 50px;
  font-size: 14px;

  /* Delete subvencion form */
  .subv_delete_form {
    display: block;
    margin-top: 0em;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 2.9em 2.5em 1.7em 2.5em;

    /* Form delete subvencion errors */
    .delete_subv_form_message_error {
      color: #ff7142;
      background-color: #fff5f2;
      border-radius: 3px;
      display: flex;
      align-items: center;
      min-height: 50px;
      padding: 6px 25px 6px 15px;
      margin-bottom: 10px;
    }

    .delete_subv_form_block_input {
      text-align: left;
      margin-bottom: 1em;

      .delete_subv_form_inner_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        .delete_subv_form_submit_button, .delete_subv_form_cancel_button {
          border: solid 1px #e6e6e6;
          width: 100%;
          border-radius: 3px;
          padding: .8em 1.1em;
          font-size: 16px;
          background-color: #07889B;
          color: #fff;

          &:focus {
            border: solid 1px #00b5e2;
          }

          &:hover {
            background-color: #17979b;
          }
        }
      }
    }
  }
}

/* Comments span user date */
.comment_user_date {
  text-decoration: underline;
}