{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %}
    Política de Cookies
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div>
    <div>

        {% include 'home/snippets/navbar.html' %}

        <div>
            <div class="rights-tarbena main">
                <div class="rights-tarbena content">
                    <div class="rights-tarbena">
                        <div class="rights-tarbena md">
                            <h1>Tarbena's Web Cookie Policy</h1>
                            <p>Tarbena's Web is owned and operated by Amos Lucian Isaila, Ajuntament de Tárbena ("Tarbena's Web", "we", "us", and "our"). This Cookie Policy explains how we use cookies and similar technologies in the course of our business. It explains what these technologies are, why and how we use them, as well as your rights with regards to controlling how they are used.</p>
                            <p>To turn off cookies, please see the "How do I turn cookies off?" section.</p>
                            <h2>What Are Cookies?</h2>
                            <p>Cookies are small pieces of data stored by a website on your computer. Like many other sites, we use cookies to optimize your browsing experience. They allow us to  maintain user preferences, provide reporting information, and personalize your content and experience. For example, if you have previously logged into your Tarbena's Web account on your device, a cookie is what allows us to log you in automatically the next time you visit!</p>
                            <h2>Why Do We Use Cookies?</h2>
                            <p>We use cookies for several reasons. Some cookies are required for proper usage of our Websites and Services, which we refer to as “necessary” cookies. These cookies help us remember your preference for tools on our site.</p>
                            <p>Other cookies enable us and the third parties we work with to gather statistics by tracking the actions of visitors to our Site. A portion of these are used for advertising purposes, as they allow us to track and target visitor interests. In addition, third parties also serve cookies through our Websites and Services for advertising, analytics, and other purposes, as described in more detail below.</p>
                            <h2>How Does the Tarbena Website Use Cookies?</h2>
                            <p>A visit to a page on the Tarbena website may generate the following types of cookies:</p>
                            <ul>
                            <li><strong>Necessary cookies</strong><br>
                            __cfduid, Auth Token, Device ID, Sift Science, UID</li>
                            <li><strong>Analytics cookies</strong><br>
                            Amplitude, CMT, FullStory, Google Analytics, Hotjar, Optimizely, UTM</li>
                            <li><strong>Third-party cookies</strong><br>
                            AddThis, Algolia, Hubspot, and Stripe</li>
                            <li><strong>Third-party advertising cookies</strong><br>
                            Adsense, Facebook, Google Adwords, Perfect Audience, Quora, SteelHouse, and Twitter</li>
                            </ul>
                            <h3>Necessary Cookies</h3>
                            <p>When you register for an account with Tarbena's Web, we generate cookies that let us know whether you are signed in or not.</p>
                            <p>Our servers use these cookies to work out which account you are signed in with and recognizes you on returning visits. It also allows us to associate any requests, posts, and comments you post with your username.</p>
                            <p>While you are signed into our site, we combine information from these cookies with analytics cookies, which can be used to identify which pages you have seen on Tarbena's Web. For account security purposes and fraud prevention, if you register for a Tarbena's Web account, information such as your device fingerprint, browser fingerprint, and IP address will be collected.</p>
                            <p>Without these cookies, you may experience difficulties using our site.</p>
                            <h3>Analytics Cookies</h3>
                            <p>Every time someone visits our website, an “anonymous analytics cookie” is generated.</p>
                            <p>These cookies tell us whether or not you have visited the site before. Your browser will tell us if you have these cookies, and, if you don’t, we generate new ones.</p>
                            <p>This allows us to track how many individual users we have, how often they visit the site, how our website is being used, and helps us customize our website for you and enhance your experience.</p>
                            <p>Without signing into Tarbena's Web, these cookies cannot be used to identify individuals, only devices. Logging in is what allows us to associate the data gathered by the "anonymous analytics cookie" to the specific user data tied to your Tarbena's Web account, such as your username and email address.</p>
                            <h3>Third-Party Cookies</h3>
                            <p>Tarbena's Web uses various third-party tools and services to allow you to have a more personalized experience, and also enable features like social sharing. These third-party tools and services are primarily used for the following purposes:</p>
                            <ul>
                            <li>Social sharing</li>
                            <li>Analytics</li>
                            <li>Site Optimization and Customization</li>
                            <li>Advertising</li>
                            </ul>
                            <p>Please see the following section for more information about Advertising cookies.</p>
                            <p><strong>Advertising Cookies</strong></p>
                            <p>These cookies are used to make targeted advertising messages more relevant to you and your interests. They also prevent the same ad from continuously reappearing, ensure that ads are properly displayed, and may select ads based on your interests. These cookies are anonymous — they store information about what you are looking at on our site, but not about who you are.</p>
                            <h2>How Do I Turn Cookies Off?</h2>
                            <p>When accessing our site, you have the right to accept or reject all cookies apart from those listed under the “Necessary Cookies” section, which are integral to proper site functionality. The full list has been copied below for your convenience:</p>
                            <ul>
                            <li><strong>Necessary cookies</strong>
                            <ul>
                            <li>__cfduid, Auth Token, Device ID, Sift Science, UID</li>
                            </ul>
                            </li>
                            <li><strong>Analytics cookies</strong>
                            <ul>
                            <li>Amplitude, CMT, FullStory, Google Analytics, Hotjar, Optimizely, UTM</li>
                            </ul>
                            </li>
                            <li><strong>Third-party cookies</strong>
                            <ul>
                            <li>AddThis, Algolia, Hubspot, and Stripe</li>
                            </ul>
                            </li>
                            <li><strong>Third-party Advertising cookies</strong>
                            <ul>
                            <li>Adsense, Facebook, Google Adwords, Perfect Audience, Quora, SteelHouse, and Twitter</li>
                            </ul>
                            </li>
                            </ul>
                            <p>If you are primarily concerned about third-party cookies generated by advertisers, you can turn these off by going to the <a href="http://www.youronlinechoices.com/uk">Your Online Choices</a> site or the <a href="http://www.aboutads.info/choices/">Your Ad Choices</a> site. You can also use <a href="http://optout.networkadvertising.org/?c=1">this site</a> to control all third-party online advertising.</p>
                            <p>All modern browsers allow you to change your cookie settings, though disabling them means you may be unable to use our site or will experience issues when using our site. You can usually find these settings in the Options or Preferences menu of your browser. To understand and adjust these settings, the following links may be helpful:</p>
                            <ul>
                            <li><a href="https://support.google.com/chrome/answer/95647?hl=en&amp;ref_topic=14666">Cookie settings in Chrome</a></li>
                            <li><a href="http://support.mozilla.com/en-US/kb/Cookies">Cookie settings in Firefox</a></li>
                            <li><a href="https://support.apple.com/kb/PH17191?locale=en_US">Cookie settings in Safari web</a> and <a href="http://support.apple.com/kb/HT1677">iOS</a></li>
                            <li><a href="http://windows.microsoft.com/en-GB/internet-explorer/delete-manage-cookies#ie=ie-10">Cookie settings in Internet Explorer</a></li>
                            </ul>
                            <h2>Changes to This Cookie Policy</h2>
                            <p>We may update this Cookie Policy from time to time. We will notify you of any changes by posting the new Cookie Policy on our Site. You are advised to review this Cookie Policy periodically for any changes.</p>
                            <h2>Contact Us</h2>
                            <p>If you have any questions about this Cookie Policy, please contact the Tarbena's Web <a href="mailto:amosisa700@gmail.com?subject=Questions%20about%20your%20cookie%20policy">support team</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}