{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

    {% include 'home/snippets/navbar_entrypoint.html' %}

    <div class="entrypoint__content">
        <h2>Aplicaciones</h2>

        <div class="entrypoin_aplications_wrapper__seen entrypoin_aplications__wrapper">
            <div class="aplications_details__cards">
                <a href="{% url 'subvenciones:index' %}">
                    <div class="application_cards__detail" style="margin-right:20px;">
                        <img src="{% static 'home/img/favicon/logoTarbenaSubvenciones.png' %}" alt="card">
                        <div class="application_detail__title">Subvenciones</div>
                        <div class="application_detail__body">
                            Gestiona las subvenciones correspondiente a cada departamento.
                        </div>
                        <a style="z-index:900;font-size:14px;" href="{% url 'transparencia' %}">Transparencia</a>
                    </div>
                </a>
                <a href="{% url 'parcelas:index' %}">
                    <div class="application_cards__detail">
                        <img src="{% static 'home/img/favicon/logoTarbenaSubvenciones.png' %}" alt="card">
                        <div class="application_detail__title">Parcelas</div>
                        <div class="application_detail__body">
                            Busca las parcelas correspondiente al polígono respectivo. Descargue el KML correspondiente.
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="application_cards__detail">
                        <img src="{% static 'home/img/favicon/logoTarbenaSubvenciones.png' %}" alt="card">
                        <div class="application_detail__title">Llaves</div>
                        <div class="application_detail__body">
                            Sepa en cualquier momento quien ha utilizado las llaves, quien las tiene ...
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}