{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/favourites.css' %}">
{% endblock %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

    {% include 'home/snippets/navbar_entrypoint.html' %}

    <div class="outer-wrapper fixed-to-top">
        <div class="main-page-pau">
            <div class="body-wrapper on">
                <div class="sections-list">

                    <!-- Aplicaciones -->
                    <section class="collapsible-section section compact-cards animation-enabled" data-section-id="highlights">
                        <div class="section-top-bar">
                            <h3 class="section-title">
                                <span class="click-target">
                                    <span class="icon icon-small-spacer icon-highlights" style="background-image: url('{% static "home/img/icons/glyph-highlights-16.svg"%}')"></span>
                                    <span>Aplicaciones</span>
                                    <span class="collapsible-arrow icon icon-arrowhead-down-small" style="background-image: url('{% static "home/img/icons/glyph-arrowhead-down-12.svg"%}')"></span>
                                </span>
                            </h3>
                        </div>
                        <div class="section-body">
                            <ul class="section-list" style="padding:0;">
                                {% if user|check_permission:'acceder_parcelas' or request.user.is_superuser %}
                                    <!-- Parcelas -->
                                    <li class="card-outer">
                                        <a href="{% url 'parcelas:index' %}">
                                            <div class="card_from">
                                                <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_parcelas.png"%}')"></div>
                                                <div class="card-details">
                                                    <div class="card-host-name">Parcelas</div>
                                                    <div class="card-text">
                                                        <h4 class="card-title">Comprobación de Parcelas</h4>
                                                    </div>
                                                    <div class="card-context">
                                                        <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <button class="context-menu-button icon">
                                            <span class="sr-only">Open context menu for Parcelas</span>
                                        </button>
                                    </li>
                                {% endif %}

                                {% if perms.subvenciones.add_subvencion %}
                                    <!-- Subvenciones -->
                                    <li class="card-outer">
                                        <a href="{% url 'subvenciones:index' %}">
                                            <div class="card_from">
                                                <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_subv.png"%}')"></div>
                                                <div class="card-details">
                                                    <div class="card-host-name">Subvenciones</div>
                                                    <div class="card-text">
                                                        <h4 class="card-title">Gestión de Subvenciones</h4>
                                                    </div>
                                                    <div class="card-context">
                                                        <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <button class="context-menu-button icon">
                                            <span class="sr-only">Open context menu for Subvenciones</span>
                                        </button>
                                    </li>
                                {% endif %}

                                {% if request.user.is_superuser %}
                                <!-- Llaves -->
                                <li class="card-outer">
                                    <a href="#">
                                        <div class="card_from">
                                            <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_keys.jpg"%}')"></div>
                                            <div class="card-details">
                                                <div class="card-host-name">Llaves</div>
                                                <div class="card-text">
                                                    <h4 class="card-title">Gestión de Llaves</h4>
                                                </div>
                                                <div class="card-context">
                                                    <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <button class="context-menu-button icon">
                                        <span class="sr-only">Open context menu for Llaves</span>
                                    </button>
                                </li>

                                <!-- Biblioteca -->
                                <li class="card-outer">
                                    <a href="http://biblioteca.tarbena.es/">
                                        <div class="card_from">
                                            <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_biblio.png"%}')"></div>
                                            <div class="card-details">
                                                <div class="card-host-name">Biblioteca</div>
                                                <div class="card-text">
                                                    <h4 class="card-title">Biblioteca Online</h4>
                                                </div>
                                                <div class="card-context">
                                                    <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <button class="context-menu-button icon">
                                        <span class="sr-only">Open context menu for Biblioteca Online</span>
                                    </button>
                                </li>

                                <!-- Contratos -->
                                <li class="card-outer">
                                    <a href="{% url 'contracts:index' %}">
                                        <div class="card_from">
                                            <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_contratos.png"%}')"></div>
                                            <div class="card-details">
                                                <div class="card-host-name">Contratos</div>
                                                <div class="card-text">
                                                    <h4 class="card-title">Gestión de Contratos</h4>
                                                </div>
                                                <div class="card-context">
                                                    <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <button class="context-menu-button icon">
                                        <span class="sr-only">Open context menu for Contratos</span>
                                    </button>
                                </li>

                                <!-- Facturas Luz -->
                                <li class="card-outer">
                                    <a href="{% url 'luz:index' %}">
                                        <div class="card_from">
                                            <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_luz.png"%}')"></div>
                                            <div class="card-details">
                                                <div class="card-host-name">Facturas Luz</div>
                                                <div class="card-text">
                                                    <h4 class="card-title">Estadísticas Luz</h4>
                                                </div>
                                                <div class="card-context">
                                                    <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <button class="context-menu-button icon">
                                        <span class="sr-only">Open context menu for Luz</span>
                                    </button>
                                </li>
                                {% endif %}

                                <!-- Museo -->
                                <li class="card-outer">
                                    <a href="{% url 'museo:index' %}">
                                        <div class="card_from">
                                            <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_museo.png"%}')"></div>
                                            <div class="card-details">
                                                <div class="card-host-name">Museo</div>
                                                <div class="card-text">
                                                    <h4 class="card-title">Gestión del Museo</h4>
                                                </div>
                                                <div class="card-context">
                                                    <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <button class="context-menu-button icon">
                                        <span class="sr-only">Open context menu for Contratos</span>
                                    </button>
                                </li>

                                <!-- Transparencia -->
                                <li class="card-outer">
                                    <a href="{% url 'transparencia' %}">
                                        <div class="card_from">
                                            <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_transp.png"%}')"></div>
                                            <div class="card-details">
                                                <div class="card-host-name">Transparencia</div>
                                                <div class="card-text">
                                                    <h4 class="card-title">Transparencia de Subvenciones</h4>
                                                </div>
                                                <div class="card-context">
                                                    <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <button class="context-menu-button icon">
                                        <span class="sr-only">Open context menu for Transparencia Subvenciones</span>
                                    </button>
                                </li>

                                {% if request.user.is_superuser %}
                                <!-- FAQ -->
                                <li class="card-outer">
                                    <a href="{% url 'faq' %}">
                                        <div class="card_from">
                                            <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_faq.png"%}')"></div>
                                            <div class="card-details">
                                                <div class="card-host-name">FAQ</div>
                                                <div class="card-text">
                                                    <h4 class="card-title">Frequent Asked Questions</h4>
                                                </div>
                                                <div class="card-context">
                                                    <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <button class="context-menu-button icon">
                                        <span class="sr-only">Preguntas más comunes</span>
                                    </button>
                                </li>
                                {% endif %}

                                <!--{% if perms.UPR.add_componente %}-->
                                    <!-- UPR -->
                                    <!--<li class="card-outer">
                                        <a href="{% url 'upr:index' %}">
                                            <div class="card_from">
                                                <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_upr.png"%}')"></div>
                                                <div class="card-details">
                                                    <div class="card-host-name">UPR</div>
                                                    <div class="card-text">
                                                        <h4 class="card-title">Grupo Tragsa</h4>
                                                    </div>
                                                    <div class="card-context">
                                                        <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <button class="context-menu-button icon">
                                            <span class="sr-only">Open context menu for UPR</span>
                                        </button>
                                    </li>-->
                                <!--{% endif %}-->

                                {% if request.user.is_superuser %}
                                <!-- Últimas Subvenciones -->
                                <li class="card-outer">
                                    <a href="{% url 'subvenciones:expiration' %}">
                                        <div class="card_from">
                                            <div class="card-preview-image-outer" style="background-image: url('{% static "home/img/apps/app_expiration.png"%}')"></div>
                                            <div class="card-details">
                                                <div class="card-host-name">Últimas Subvenciones</div>
                                                <div class="card-text">
                                                    <h4 class="card-title">Últimas Subvenciones</h4>
                                                </div>
                                                <div class="card-context">
                                                    <span class="card-context-icon icon icon-history-item" style="background-image: url('{% static "home/img/icons/history.svg"%}')"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <button class="context-menu-button icon">
                                        <span class="sr-only">Últimas Subvenciones</span>
                                    </button>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </section>

                    <!-- Fav Sites -->
                    <section class="collapsible-section top-sites animation-enabled">
                        <div class="section-top-bar">
                            <h3 class="section-title">
                                <span class="click-target">
                                    <span class="icon icon-small-spacer icon-topsites" style="background-image: url('{% static "home/img/icons/glyph-topsites-16.svg"%}')"></span>
                                    <span>Sitios favoritos</span>
                                    <span class="collapsible-arrow icon icon-arrowhead-down-small" style="background-image: url('{% static "home/img/icons/glyph-arrowhead-down-12.svg"%}')"></span>
                                </span>
                            </h3>
                            <div>
                                <button class="context-menu-button icon" style="background-image: url('{% static "home/img/icons/page-action.svg"%}')">
                                    <span class="sr-only"><span>Abrir la sección menú contextual</span></span>
                                </button>
                            </div>
                        </div>
                        <div class="section-body">
                            <ul class="top-sites-list" style="padding:0;">
                                <!-- If user is staff show the perma favourites for staff members -->
                                {% for fav in favourites %}
                                    {% if fav.type.name == 'Permanente staff' %}
                                        {% if request.user.is_superuser %}
                                        <li class="top-site-outer">
                                            <div class="top-site-inner">
                                                <a href="{{ fav.link }}" tabindex="0">
                                                    <div class="tile" aria-hidden="true" data-fallback="{{ fav.name|make_list|first }}">
                                                        <div class="screenshot active" alt="{{ fav.name }}" data-url="{{ fav.link }}"></div>
                                                        <div class="top-site-icon default-icon"></div>
                                                    </div>
                                                    <div class="title" title="{{ fav.name }}">
                                                        <span dir="auto">{{ fav.name }}</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        {% endif %}
                                    {% elif fav.type.name == 'Permanente ciudadanos' %}
                                        <li class="top-site-outer">
                                            <div class="top-site-inner">
                                                <a href="{{ fav.link }}" tabindex="0">
                                                    <div class="tile" aria-hidden="true" data-fallback="{{ fav.name|make_list|first }}">
                                                        <div class="screenshot active" alt="{{ fav.name }}" data-url="{{ fav.link }}"></div>
                                                        <div class="top-site-icon default-icon"></div>
                                                    </div>
                                                    <div class="title" title="{{ fav.name }}">
                                                        <span dir="auto">{{ fav.name }}</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                <!-- If not, show his own favourites -->
                                {% for fav in favourites %}
                                    {% for u in fav.user.all %}
                                        {% if u == request.user %}
                                        <li class="top-site-outer">
                                            <div class="top-site-inner">
                                                <a href="{{ fav.link }}" tabindex="0">
                                                    <div class="tile" aria-hidden="true" data-fallback="{{ fav.name|make_list|first }}">
                                                        <div class="screenshot active" alt="{{ fav.name }}" data-url="{{ fav.link }}"></div>
                                                        <div class="top-site-icon default-icon"></div>
                                                    </div>
                                                    <div class="title" title="{{ fav.name }}">
                                                        <span dir="auto">{{ fav.name }}</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                            <div class="edit-topsites-wrapper"><!-- Here it goes modal add new fav site --></div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addscript %}
    <script src="{% static 'home/js/favourites.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'home/js/url2img.js' %}"></script>
{% endblock %}