<div class="ag_auth_page_login">
    <form name="ag_login_form" class="ag_form_auth_login" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.errors %}
            <div class="ag_form_login_message_error">
                Compruebe que su nombre y contraseña sean correctas o, puede que su
                cuenta no esté activada (compruebe su email).
            </div>
        {% endif %}

        {% if next %}
            <div class="ag_form_login_message_error">
                {% if user.is_authenticated %}
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                {% else %}
                    Para ver esta página debe registrarse.
                {% endif %}
            </div>
        {% endif %}

        <div class="ag_form_block_input">
            <div class="ag_form_inner_wrapper wrapper_name_input">
                <input class="ag_input_form_login ag_input_username_login" type="text" name="username" placeholder="Nombre" min="0" autofocus>
            </div>
        </div>
        <div class="ag_form_block_input">
            <div class="ag_form_inner_wrapper wrapper_password_input">
                <input class="ag_input_form_login ag_input_password_login" type="password" name="password" placeholder="Contraseña" min="0">
            </div>
        </div>

        <div class="ag_login_form_options">
            <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
        </div>

        <button class="ag_login_form_submit_button" type="submit">Log in</button>
        <input type="hidden" name="next" value="{{ next }}" />

        <div class="ag_auth_page_singup_hint">
            ¿No dispone de una cuenta?
            <a href="{% url 'register' %}" class="ag_auth_page_signup_button">Crea una cuenta</a>
        </div>
    </form>
</div>