{% extends "home/base.html" %}
{% load staticfiles %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div>
        <div class="login">
            {% if form.errors %}
                <ul class="notice erros">
                    Compruebe que su nombre y contraseña sean correctas o, puede que su
                    cuenta no esté activada (compruebe su email).
                </ul>
            {% endif %}

            {% if next %}
                <ul class="notice erros">
                    {% if user.is_authenticated %}
                        Su cuenta no tiene acceso a esta página. Para proceder,
                        haga login con una cuenta que si dispone de tal permiso.
                    {% else %}
                        Para ver esta página debe registrarse.
                    {% endif %}
                </ul>
            {% endif %}

            <div class="login_content">
                <a href="#" class="login_content_header">
                    <img class="login_content_logo" src="{% static 'home/img/favicon/logoTarbenaSubvencionesicon.png' %}" alt="Tarbena logo">
                </a>

                <div class="login_content_div_form">
                    <form class="login_content_form" method="post" action="{% url 'login' %}" accept-charset="UTF-8">
                        {% csrf_token %}

                        <div class="form_block_input">
                            <div class="form-block-inner-wrapper" style="width:100%;">
                                <input id="user_name" type="text" name="username" required placeholder="Nombre" autofocus label="false">
                            </div>
                        </div>
                        <div class="form_block_input">
                            <div class="form-block-inner-wrapper" style="width:100%;">
                                <input id="user_password" type="password" name="password" required placeholder="Contraseña" autocomplete="off" label="false">
                            </div>
                        </div>

                        <!-- Forgot Password -->
                        <div class="login_content_form_options">
                            <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
                        </div>

                        <button class="login_btn" type="submit">Log in</button>
                        <input type="hidden" name="next" value="{{ next }}" />

                        <div class="login_content_form_tos" data-reactid="55">
                            Al proceder, acepto las
                            <a href="{% url 'terms' %}" target="_blank" data-reactid="57">Condiciones de Uso </a>y la
                            <a href="{% url 'privacy' %}" target="_blank" data-reactid="59">Política de Privacidad</a>
                            de Tárbena
                        </div>

                        <div class="login_content_form_signup_hint">
                            ¿No dispone de una cuenta?
                            <a href="{% url 'register' %}" class="login_content_signup_btn">Crea una cuenta</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}