{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'home/css/password_reset.css' %}">
{% endblock %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

    {% include 'home/snippets/navbar.html' %}

    <div class="topBlock">
        <div class="topBlock__inner">
            <div class="customizeContainer">
                <div class="module">
                    <h1 class="title-pass-h1">
                        ¿Ha olvidad su contraseña?
                    </h1>

                    {% if form.errors %}
                        <ul class="notice erros">
                            {% for field in form %}
                                {% if field.errors %}
                                    - {{ field.errors|striptags }}<br />
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="session">
                        <div class="row-fluid">
                            <div class="span12">
                                <form method="post" accept-charset="UTF-8">
                                    {% csrf_token %}

                                    <div class="form-inputs">
                                        {{ form.email|htmlattributes:"placeholder: Email" }}
                                        <input class="reset_password__submit_button" type="submit" value="RESETEAR CONTRASEÑA">
                                    </div>
                                </form>

                                <div class="signUp muted">
                                    ¿No dispone de una cuenta?
                                    <a href="{% url 'register' %}">Regístrate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}