{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="login">
        {% if form.errors %}
            <ul class="notice erros">
                {% for field in form %}
                    {% if field.errors %}
                        - {{ field.errors|striptags }}<br />
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if validlink %}
            <img class="tar_logo" height="75" width="208" src="{% static 'home/img/favicon/logoTarbenaSubvenciones.png' %}" alt="Tarbena logo">

            <form name="tar_register_form" class="vertical-form reset" method="post" accept-charset="UTF-8">
                {% csrf_token %}

                <legend>
                    Resetear contraseña
                </legend>

                {{ form.new_password1|htmlattributes:"placeholder: Contraseña" }}
                {{ form.new_password2 }}
                <input class="reset_password_form_submit_button" type="submit" value="Resetear mi contraseña">
            </form>
        {% else %}
            <p>Enlace inválido: este enlace ya ha sido utilizado.</p>
        {% endif %}
    </div>
{% endblock %}

{% block domready %}
    $('form').find("#id_new_password2").each(function(ev) {
        $(this).attr("placeholder", "Confirmar contraseña");
    });
{% endblock %}

