{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="login">
        <div class="vertical-form">
            <p>
                Te hemos enviado un correo con un enlace para reestablecer tu contraseña.
                Si no aparece en unos minutos comprueba tu bandeja de spam.
            </p>
            <p>
                Volver para hacer
                <a href="{% url 'login' %}" class="auth_page_signin">Log in</a>
            </p>
        </div>
    </div>
{% endblock %}