<div class="ag_wrapper_form_reset_password">
        {% if validlink %}

            <form class="form_reset_password" method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="ag_form_login_message_error">
                        {% for field in form %}
                            {% if field.errors %}
                                - {{ field.errors|striptags }}<br />
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="ag_form_block_input">
                    <label for="id_new_password1">Contraseña</label>
                    <div class="ag_form_inner_wrapper">
                        {{ form.new_password1 }}
                    </div>
                </div>

                <div class="ag_form_block_input">
                    <label for="id_new_password2">Confirmar contraseña</label>
                    <div class="ag_form_inner_wrapper">
                        {{ form.new_password2 }}
                    </div>
                </div>

                <div class="ag_form_block_input">
                    <div class="ag_form_inner_wrapper">
                        <button class="ag_register_form_submit_button" type="submit">Cambiar contraseña</button>
                    </div>
                </div>

            </form>

        {% else %}

            <h1 class="text-center">Enlace inválido: este enlace ya ha sido utilizado.</h1>

        {% endif %}
    </div>
