{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="login">
        <img class="tar_logo" height="75" width="208" src="{% static 'home/img/favicon/logoTarbenaSubvenciones.png' %}" alt="Tarbena logo">

        <form method="post" class="vertical-form reset" accept-charset="UTF-8">
            {% csrf_token %}

            <legend>
                Reseteo Contraseña
            </legend>

            {{ form.email|htmlattributes:"placeholder: Email" }}
            <input class="reset_password_form_submit_button" type="submit" value="Resetear mi contraseña">
        </form>
    </div>
{% endblock %}