{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'home/css/password_reset.css' %}">
{% endblock %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

    {% include 'home/snippets/navbar.html' %}

    <div class="topBlock">
        <div class="topBlock__inner">
            <div class="customizeContainer">
                <div class="module">
                    <h1 class="title-pass-h1">
                        Restablecer contraseña
                    </h1>
                    <div class="session">
                        <div class="row-fluid">
                            <div class="span12">
                                Su contraseña se restableció correctamente.

                                <div class="signUp muted">
                                    Volver para hacer
                                    <a href="{% url 'login' %}">Log in</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}