<div class="ag_wrapper_form_reset_password">
        <div class="ag_wrapper_form_reset_password_done">
            <p>Te hemos enviado un correo con un enlace para reestablecer tu contraseña.
                Si no aparece en unos minutos comprueba tu bandeja de spam.</p>

            <div class="ag_form_block_input">
                <div class="ag_form_inner_wrapper">
                    <a href="{% url 'login' %}">
                        <button class="ag_register_form_submit_button">Volver para hacer Log in</button>
                    </a>
                </div>
            </div>
        </div>
    </div>