{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'home/css/register.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Regístrate
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div>
        <div class="register">
            <div class="register_content">
                <div class="register__signup">
                    <form class="form-block" method="post" accept-charset="UTF-8">
                        {% csrf_token %}

                        <div class="form-block__header">
                            <img class="register_logo_icon" src="{% static 'home/img/favicon/register/submarca-Tragsa_fondoBlanco.png %}" alt="Tarbena logo">
                            <img class="register_logotype" src="{% static 'home/img/favicon/register/submarca-Tragsa_fondoBlanco.png' %}" alt="Ajuntament logo">
                        </div>

                        {% if form.errors %}
                            <div class="register_error-message">
                                {% for field in form %}
                                    {% if field.errors %}
                                        - {{ field.errors|striptags }}<br />
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="form-block__input">
                            {{ form.username.label_tag }}
                            <div class="form-block__inner-wrapper">
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="form-block__input">
                            {{ form.email.label_tag }}
                            <div class="form-block__inner-wrapper">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="form-block__input">
                            {{ form.first_name.label_tag }}
                            <div class="form-block__inner-wrapper">
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="form-block__input">
                            {{ form.last_name.label_tag }}
                            <div class="form-block__inner-wrapper">
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="form-block__input">
                            {{ form.password1.label_tag }}
                            <div class="form-block__inner-wrapper">
                                {{ form.password1 }}
                            </div>
                        </div>

                        <div class="form-block__input">
                            {{ form.password2.label_tag }}
                            <div class="form-block__inner-wrapper">
                                {{ form.password2 }}
                            </div>
                        </div>

                        <small class="register_small__footer">
                            Registrándome, acepto las <a href="{% url 'terms' %}" target="_blank">Condiciones de Uso</a> y la <a href="{% url 'privacy' %}" target="_blank">Política de Privacidad</a>
                        </small>

                        <div class="register_action_submit">
                            <button class="register_submit_button" type="submit">Registrar</button>
                        </div>

                        <div class="register_footer">
                            ¿Dispone de una cuenta?
                            <a href="{% url 'login' %}">Log in</a>
                            <img height="auto" width="80%" style="margin-top:20px;" src="{% static 'home/img/gv/gv_transp_color.png' %}" alt="Generalitat Valenciana Transparencia" title="Generalitat Valenciana. Conselleria de Transparència, Responsabilitat Social, Participació i Cooperació">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}