{% extends "home/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    Tárbena
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="login">
        {% if form.errors %}
            <ul class="notice erros">
                {% for field in form %}
                    {% if field.errors %}
                        - {{ field.errors|striptags }}<br />
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <img class="tar_logo" height="75" width="208" src="{% static 'home/img/favicon/logoTarbenaSubvenciones.png' %}" alt="Tarbena logo">

        <form name="tar_register_form" class="vertical-form register" method="post" accept-charset="UTF-8">
            {% csrf_token %}

            <legend>
                Crear cuenta
            </legend>

            {{ form.username|htmlattributes:"placeholder: Usuario" }}
            {{ form.email|htmlattributes:"placeholder: Email" }}
            {{ form.first_name|htmlattributes:"placeholder: Nombre" }}
            {{ form.last_name|htmlattributes:"placeholder: Isaila" }}
            {{ form.password1|htmlattributes:"placeholder: Contraseña" }}
            {{ form.password2 }}
            <input class="register_form_submit_button" type="submit" value="Registrar">

            <!-- Terms -->
            <p class="terms">
                Registrándote aceptas los <a href="#">Términos del Servicio</a> y la <a href="#">Política de Privacidad</a>.
            </p>
        </form>

        <div class="footer">
            <p>
                ¿Ya dispone de una cuenta?
                <a href="{% url 'login' %}" class="auth_page_signin">Log in</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block domready %}
    $('form').find("#id_password2").each(function(ev) {
        $(this).attr("placeholder", "Confirmar contraseña");
    });
{% endblock %}