{% extends "museo/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block title %}
    Luz
{% endblock %}

{% block navbar %}
    {% include 'luz/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4"><a href="#" id="luz__consumo_total">Consumo total</a></div>
            <div class="col-md-4"><a href="#">Consumo total</a></div>
            <div class="col-md-4"><a href="#">Consumo total</a></div>
        </div>
    </div>

    <canvas id="myChart"></canvas>

{% endblock %}

{% block addscript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@latest/dist/chartjs-plugin-colorschemes.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#luz__consumo_total').click(function(){
                var endpoint = '/luz/api/contador/total/consumo/';
                var defaultData = [];
                var labels = [];
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    success: function(data) {
                        labels = data.contador
                        defaultData = data.consumo
                        var ctx = document.getElementById('myChart');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Total Contadores',
                                    data: defaultData,
                                    borderWidth: 3
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                plugins: {
                                    colorschemes: {
                                        scheme: 'brewer.Paired12'
                                    }
                                }
                            }
                        });
                    },
                    error: function(error_data) {
                        console.log(error_data);
                    }
                });
            });
        });
    </script>
{% endblock %}