{% extends "museo/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block title %}
    Luz
{% endblock %}

{% block navbar %}
    {% include 'luz/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="#" id="luz__consumo_total">Consumo total</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Por contador
                </a>
                <ul class="dropdown-menu">
                    {% for contador in contadores %}
                        <li><a href="#" class="luz__consumo_total--by_object" data-id="{{ contador.id }}">{{ contador.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#">Cuantía total</a></li>
            <li><a href="#">Evolución cuantía por contador</a></li>
            <li><a href="#">Lecturas y evolución</a></li>
        </ol>

        <div class="row" style="margin-top:55px;" id="firstCanvasChart">
            <canvas id="myChart"></canvas>
        </div>

        <div class="row" style="margin-top:55px;" id="secondCanvasChart">
            <canvas id="myChart2"></canvas>
        </div>

    </div>



{% endblock %}

{% block addscript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@latest/dist/chartjs-plugin-colorschemes.min.js"></script>
    <script>
        $(document).ready(function() {
            // Reverse url so I can use it in js
            function generete_some_url(id){
                return "{% url 'luz:api-consumo-by-contador' contador_id=112233 %}".replace("112233", id);
            }

            // TOTAL CONSUMO GRAPHICS
            $('#luz__consumo_total').click(function(){
                var endpoint = '/luz/api/contador/total/consumo/';
                var defaultData = [];
                var labels = [];
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    success: function(data) {
                        labels = data.contador
                        defaultData = data.consumo
                        var ctx = document.getElementById('myChart');
                        var ctx2 = document.getElementById('myChart2');

                        // Bar graphic
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Total Contadores 2013 - ' + new Date().getFullYear() + ' (kW)',
                                    data: defaultData,
                                    borderWidth: 3
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                plugins: {
                                    colorschemes: {
                                        scheme: 'brewer.Paired12'
                                    }
                                }
                            }
                        });

                        // Pie graphic
                        var myPieChart = new Chart(ctx2, {
                            type: 'pie',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Total Contadores 2013 - ' + new Date().getFullYear() + ' (kW)',
                                    data: defaultData,
                                    borderWidth: 3
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                plugins: {
                                    colorschemes: {
                                        scheme: 'brewer.Paired12'
                                    }
                                }
                            }
                        });
                    },
                    error: function(error_data) {
                        console.log(error_data);
                    }
                });
            });

            // CONSUMO INDIVIDUALIZADO POR CONTADOR
            $('.luz__consumo_total--by_object').click(function() {
                var contador_id = $(this).attr('data-id');
                var defaultData = [];
                var labels = [];
                var contador_nombre = $(this).text();
                $.ajax({
                    method: "GET",
                    url: generete_some_url(contador_id),
                    success: function(data) {
                        $('#firstCanvasChart').empty();
                        $('#firstCanvasChart').html('<canvas id="myChart"></canvas>');
                        $('#secondCanvasChart').html() != "" ? $('#secondCanvasChart').html('<canvas id="myChart2"></canvas>') : "";
                        var ctx = document.getElementById('myChart');
                        $.each(data, function( key, value ) {
                            labels.push(value.fields['desde'])
                            defaultData.push(value.fields['consumo']);
                        });

                        var myLineChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: contador_nombre + ' (kW)',
                                    data: defaultData,
                                    borderWidth: 3
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                },
                                plugins: {
                                    colorschemes: {
                                        scheme: 'brewer.Paired12'
                                    }
                                }
                            }
                        });
                    },
                    error: function(error_data) {
                        console.log(error_data);
                    }
                });
            });
        });
    </script>
{% endblock %}