{% extends "parcelas/base.html" %}
{% load staticfiles %}

{% block favicon %}
    <link rel="icon" href="{% static 'home/img/favicon/logoTarbenaCatastro.png' %}" type="image/x-icon"/>
{% endblock %}

{% block content %}

<style>
    /* Add opacity to KML layers when search for it */
    #map_canvas img[src*='kml'] {
        opacity: .5;
    }
</style>

<!-- MAP -->
<div id="map_canvas">
</div>

<!-- PANEL ACTIONS COLLAPSE PARCELAS -->
<div id="wms-manager" class="widget wms-manager" style="position: absolute; left: -1px;height:100%;">
    <a href="#" class="button collapse buton_show--widget__panel">
        <i class="fa fa-globe"></i>
    </a>

    <div id="widget" class="widget-panel" style="display:none;">
        <header class="widget-header">
            <span class="widget-header__breadcrumb">Proyectos</span>
        </header>

        <div class="widget-body">
            <!-- Table with projects, sectors and parcels -->
            <div class="line">
                {% for proyecto in proyectos %}
                    <div class="fieldset line">
                        <a href="#" data-id="{{ proyecto.id }}" class="legend accordion-toggle project-name">{{ proyecto.nombre }}</a>
                    </div>
                {% endfor %}
            </div>

            <!-- Check parcel and download KML -->
            <div class="form-check-parcel">
                <!-- Select Poblacion -->
                <select id="inputPoblacion">
                    {% for p in poblacion %}
                        <option data-id="{{ p.pk }}" value="{{ p.codigo }}">{{ p.nombre }}</option>
                    {% endfor %}
                </select>

                <!--<label for="inputPoligono">Polígono</label>-->
                <input type="text" id="inputPoligono" placeholder="Polígono" maxlength="4" size="3">
                <!--<label for="inputParcela">Parcela</label>-->
                <input type="text" id="inputParcela" placeholder="Parcela" maxlength="4" size="3">
                <button class="formButtonCheckParcela">Comprobar</button>
            </div>

            <!-- ADD PROJECTS, SECTORS AND PARCELS -->
            <div class="add_new_data">
                <!-- ADD PARCELS -->
                <button id="add_parcelas">
                    <a href="{% url 'parcelas:add_parcela' %}" data-toggle="modal" data-target="#open-modal">
                        Añadir parcela
                    </a>
                </button>
                <button class="button-kml-download">Descargar KML</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: ADD PARCELA -->
<div id="open-modal" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir parcela</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script>
        /*
            I declare the variables here because the url like this cant be declared
            in a js file. So i initiate the js in base.html and it takes the variables
            from here.

            The " url... " can only be declared in django inside script tags.
        */
        var ajaxsectores_url = '{% url "parcelas:ajax_get_sectores" %}';
        var ajaxproyectos_url = '{% url "parcelas:ajax_get_proyectos" %}';
        var ajaxparcelas_url = '{% url "parcelas:ajax_get_parcelas" %}';
        var ajaxparcelas_m2 = '{% url "parcelas:ajax_get_m2" %}';
        var ajaxparcela_info = '{% url "parcelas:ajax_get_parcela_info" %}';

        // Reverse url so I can use it in js
        function generete_some_url(id){
            return "{% url 'parcelas:get_autorizacion' parcela_id=112233 %}".replace("112233", id);
        }

        /* Tooltip for total parcelas from a user */
        function getPropietarioParcelas(prop_id) {
            $.ajax({
                url: '{% url "parcelas:get_propietario_parcelas" %}',
                data: {
                    'id_propietario': prop_id,
                },
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                }
            });
        }

        /* Ajax when clicking on create Parcela */
        $("#add_parcelas").click(function () {
            var polig = $('#inputPoligono');
            var parc = $('#inputParcela');
            var inputPolig = polig.val();
            var inputParc = parc.val();

            /* First we check that input polig and parcela are filled */
            if (inputPolig.length === 0 || inputParc.length === 0) {
                if (window.confirm('Rellene los inputs de parcela o polígono'))
                {
                    inputParc.length === 0 ? parc.focus() : polig.focus()
                    inputPolig.length === 0 ? polig.focus() : parc.focus()
                    return false;
                }
            } else {
                $.ajax({
                    url: '{% url "parcelas:add_parcela" %}',
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#open-modal").modal("show");
                    },
                    success: function (data) {
                        $("#open-modal .modal-body").html(data.html_form);

                        /* After form is up, charge poblacion, poligono and parcela values */
                        $('#id_poligono').val($('#inputPoligono').val());
                        $('#id_numero_parcela').val($('#inputParcela').val());

                        /* Select */
                        var id_poblacion_oustide = $("#inputPoblacion option:selected").attr("data-id");
                        $("#id_poblacion > option").each(function() {
                            if (this.value == id_poblacion_oustide) {
                                $(this).attr("selected", "selected");
                            }
                        });

                        var header_modal = $('#exampleModalLabel').html();

                        // Add ref catastral to modal HEADER
                        var header_poblacion = '<span class="badge badge-info">' + $("#inputPoblacion option:selected").val() + '</span>';
                        var header_poligono = '<span class="badge badge-info">' + $('#inputPoligono').val() + '</span>';
                        var header_parcela = '<span class="badge badge-info">' + $('#inputParcela').val() + '</span>';
                        $('#exampleModalLabel').html("Añadir parcela: " + header_poblacion + " " + header_poligono + " " + header_parcela + " ");

                        // poblacion selected option
                        var e_inp_pobl = document.getElementById("inputPoblacion");
                        var e_inp_pobl_value = e_inp_pobl.options[e_inp_pobl.selectedIndex].value;

                        /* Add also m2 with ajax - BeautifulSoup */
                        $.ajax({
                            method: 'GET',
                            url: ajaxparcelas_m2,
                            data: {
                                'poblacion': e_inp_pobl_value,
                                'poligono': pad($('#id_poligono').val(), 3),
                                'parcela': pad($('#id_numero_parcela').val(), 5)
                            },
                            dataType: 'json',
                            success: function (data) {
                                m2_data = $('#id_metros_cuadrados').val(data);

                                if ($('input#id_metros_cuadrados').val() == '') {
                                    var header_m2 = '<span class="badge badge-danger">La parcela no existe</span>';
                                    $('#exampleModalLabel').append(header_m2);
                                } else {
                                    var header_m2 = '<span class="badge badge-info">' + $('input#id_metros_cuadrados').val() + ' m2</span>';
                                    $('#exampleModalLabel').append(header_m2);
                                }
                            }
                        });
                    }
                });
            }
        });

        /* Ajax when creating parcela update parcelas */
        $("#open-modal").on("submit", "#some-form", function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $("#open-modal").modal("hide");  // <-- Close the modal
                    } else {

                        $("#open-modal #some-form").html(data.html_form);
                        $("#open-modal #some-form").prepend("<p style='color:red;'><strong>No se ha podido añadir la parcela. Ha ocurrido un error.</strong></p>");
                    }
                }
            });
            return false;
        });

        $('.buton_show--widget__panel').click(function() {
            $('#widget').toggle();
            $(".widget .button.collapse").toggleClass("in");
        });
    </script>
{% endblock %}