{% extends "parcelas/base.html" %}
{% load staticfiles %}

{% block content %}

<!-- MAP -->
<div id="map_canvas">
</div>

<!-- PANEL ACTIONS COLLAPSE -->
<div class="actions_parcels">

    <div class="row">
        <button class="accordion_for_card" data-toggle="collapse" data-target="#card">+</button>
        <!-- GEOLOCATION -->
        <!--<img id="preloader" src="{% static 'parcelas/location/gps.png' %}">-->
    </div>

    <div class="row">
        <div class="card collapse" id="card">
            <!-- Check parcel and download KML -->
            <div class="form-check-parcel">
                <!-- Select Poblacion -->
                <select id="inputPoblacion">
                    <option value="127">Tárbena</option>
                    <option value="045">Bolulla</option>
                    <option value="048">Callosa d'en Sarriá</option>
                    <option value="029">Benigembla</option>
                    <option value="100">Parcent</option>
                </select>

                <label for="inputPoligono">Polígono</label>
                <input type="text" id="inputPoligono">
                <label for="inputParcela">Parcela</label>
                <input type="text" id="inputParcela">
                <button class="formButtonCheckParcela">Comprobar</button>
            </div>

            <!-- Table with projects, sectors and parcels -->
            <div class="card-header">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Proyectos</li>
                </ol>
                <ul>
                    {% for proyecto in proyectos %}
                        <li>
                            <a class="project-name" data-id="{{ proyecto.id }}" href="#">
                                 - {{ proyecto.nombre }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- ADD PROJECTS, SECTORS AND PARCELS -->
            <div class="add_new_data">
                <!-- ADD PARCELS -->
                <button class="button-add-parcel">
                    <a class="related-widget-wrapper-link add-related" id="add_id_diputacion" href="/panel/parcelas/parcela/add/?_to_field=id&amp;_popup=1" title="Añadir parcela" style="display: block;" target="_blank">
                        Añadir parcela
                    </a>
                </button>
                <button class="button-kml-download">Descargar KML</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script>
        /*
            I declare the variables here because the url like this cant be declared
            in a js file. So i initiate the js in base.html and it takes the variables
            from here.

            The " url... " can only be declared in django inside script tags.
        */
        var ajaxsectores_url = '{% url "parcelas:ajax_get_sectores" %}';
        var ajaxproyectos_url = '{% url "parcelas:ajax_get_proyectos" %}';
        var ajaxparcelas_url = '{% url "parcelas:ajax_get_parcelas" %}';
    </script>
{% endblock %}