<div class="panel panel-default">
        <div class="panel-body">
                <div class="row">
                        <div class="col-lg-7">
                                <h3>{{ object.nombre }}</h3>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-4">
                                <label>MARCA:</label>
                                <p>{{ object.apellidos }}</p>
                                <label>PRECIO:</label>
                                <p>{{ object.nif }}</p>
                                <label>ESTADO:</label>
                                {{ object.calle }}
                        </div>
                </div>
        </div>
</div>