.topBlock {
  background: #f5f5f5;
  padding: 90px 20px 80px;
  min-height: 100vh;
  box-sizing: border-box;

  .topBlock__inner {
    display: block;
    text-align: -webkit-center;
  }

  .module {
    max-width: 350px;
  }

  .title-pass-h1 {
    font-size: 24px;
    font-weight: bold;
    color: #073648;
    word-break: break-all;
  }

  .session {
    box-shadow: rgba(0,0,0,0.05) 0 1px 3px 0;
    border-top: 1px solid #eee;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    padding: 30px 20px;
    border-radius: 2px;
    height: 215px;
  }

  #id_email {
    box-sizing: border-box;
    width: 90%;
    border-radius: 2px;
    font-size: 16px;
    padding-bottom: 9.5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 9.5px;
    height: 40px;
    margin-bottom: 20px;
  }

  .reset_password__submit_button {
    box-sizing: border-box;
    width: 90%;
    border-radius: 2px;
  }

  .signUp {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .customizeContainer {
    width: 1170px;
  }
}
.customizeContainer {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1281px) {
  .customizeContainer {
    max-width: 1170px;
  }
}

.title-pass-h1 {
  text-align: center;
}
h1 {
  font-family: 'Raleway', sans-serif;
  margin: 0.67em 0;
  line-height: 40px;
  text-rendering: optimizelegibility;
}

@media (min-width: 1200px) {
  .row-fluid {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .row-fluid:before, .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
}
@media (min-width: 1200px) {
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .row-fluid .span12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    min-height: 30px;
    box-sizing: border-box;
  }
}

form {
  margin: 0 0 20px;
}

input[type="email"] {
  background-color: #fff;
  display: inline-block;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  border: 1px #eee solid;
  box-shadow: none;
  transition: border ease 0.4s;
}
@media (min-width: 1200px) {
  input, textarea, .uneditable-input {
    margin-left: 0;
  }
}
button, input, select, textarea {
  font-family: inherit;
  margin: 0;
}
label, input, button, select, textarea {
  font-weight: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.reset_password__submit_button {
  background: #3e90ca;
  color: #fff;
  border-color: #47799d;
  border: 0;
  -webkit-box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  padding: 1em 1.8em .9em;
  font-size: 11px;
  font-weight: 400;
  border-bottom: 2px solid #ccc;
  transition: 0.15s all ease;
  white-space: nowrap;
  letter-spacing: 1px;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  text-align: center;
}

.muted {
  color: #8e979b;
}