{% extends "home/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
{% endblock %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div>
    <div>

        {% include 'home/snippets/navbar.html' %}

        <div class="user-profile">
            <!-- Image and Upload avatar -->
            <div class="user-profile__info-block">
                <div class="user-profile__info-block__background-group">
                    <div class="user-profile__info-block__background" style="background-image: url('{% if user.profile.avatar  %}{{ user.profile.avatar.url }}{% else %}{% static 'home/img/avatar/default.png' %}{% endif %}');"></div>
                    <div class="user-profile__info-block__mask"></div>
                </div>
                <div class="user-profile__info-block__content">
                    <div class="info-block__avatar">
                        <div class="form-block__filepicker">
                            <div class="form-block__filepicker-preview">
                                {% if user.profile.avatar %}
                                    <img src="{{ user.profile.avatar.url }}" alt="User Image" />
                                {% else %}
                                    <img src="{% static 'home/img/avatar/default.png' %}" alt="User Image" />
                                {% endif %}

                                <div class="form-block__filepicker-reset">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <a id="triggerEvents" href="{% url 'profiles:upload_avatar' %}" data-toggle="modal" data-target="#open-modal">
                                <div class="form-block__filepicker-input--minimize">
                                    UPLOAD
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="info-block__name-group">
                        <div class="info-block__name_user__text">
                            <span>{{ user.get_full_name|title }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-profile__content-background">
                <div class="user-profile__content">

                    {% if messages %}
                        {% for message in messages %}
                            <div style="padding-top: 50px;">
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!-- User Configuration -->
                    <div class="user-profile__profile__data">
                        <div class="user_profile__section-header">
                            <div class="section-header__title">CONFIGURACIÓN</div>
                            <div class="section-header__right">
                                <div class="user-profile__edit-btn">
                                    <a href="{% url 'profiles:update_profile' %}" style="text-decoration: none;">
                                        <i class="fas fa-pencil-alt"></i>
                                        EDITAR
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="user_profile__section-panel">
                            <div>
                                <div class="user_profile__profile__data-content">
                                    <ul class="user_profile__list-data">
                                        <!-- Email -->
                                        <li class="user_profile__list-item">
                                            <div class="user_profile__list-flex">
                                                <div class="user_profile__list-h3">Email</div>
                                                <div class="user_profile__list-input">
                                                    <input type="email" class="user_profile__list-input__email" disabled value="{{ user.email }}">
                                                </div>
                                            </div>
                                        </li>

                                        <!-- Username -->
                                        <li class="user_profile__list-item">
                                            <div class="user_profile__list-flex">
                                                <div class="user_profile__list-h3">Nombre de usuario</div>
                                                <div class="user_profile__list-input">
                                                    <span>{{ user.username }}</span>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- First name -->
                                        <li class="user_profile__list-item">
                                            <div class="user_profile__list-flex">
                                                <div class="user_profile__list-h3">Nombre</div>
                                                <div class="user_profile__list-input">
                                                    <span>{{ user.first_name }}</span>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- Last name -->
                                        <li class="user_profile__list-item">
                                            <div class="user_profile__list-flex">
                                                <div class="user_profile__list-h3">Apellidos</div>
                                                <div class="user_profile__list-input">
                                                    <span>{{ user.last_name }}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Change Password -->
                    <div class="user-profile__profile__password">
                        <div class="user_profile__section-header">
                            <div class="section-header__title">CONTRASEÑA</div>
                        </div>
                        <div class="user_profile__section-panel user-profile__section-panel__empty-case">
                            <a id="user-profile__anchor-change--password" href="{% url 'change_password' %}">
                                <div class="user-profile__edit-btn">
                                    <i class="fas fa-plus-circle"></i>
                                    CAMBIAR CONTRASEÑA
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- Delete Account -->
                    <div class="user-profile__profile__delete">
                        <div class="user_profile__section-header">
                            <div class="section-header__title">BORRAR CUENTA</div>
                        </div>
                        <div class="user_profile__section-panel">
                            <div>
                                <div class="user_profile__profile__data-content">
                                    <span>Borre su cuenta de manera permanente junto con toda la información asociada a ella.
                                        Si ha tenido algun problema con la misma y necesita ayuda, <a href="mailto:amosisa700@gmail.com">contacte</a> con nosotros
                                        para que le podamos ayudar.</span>
                                </div>
                                <div class="user-profile__data-btn-delete">
                                    <div class="settings__account-delete-btn">Borrar Cuenta</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal: Update User Avatar -->
<div id="open-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualiza tu avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block addscript %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
{% endblock %}

{% block domready %}
    /* Modal Avatar */
    $('#triggerEvents').on('click', function(e){
        // Made the popup appear with the insert template
        e.preventDefault();
        $('#open-modal').modal('show').find('.modal-body').load($(this).attr('href'));
    });
{% endblock %}