{% load notification_tags %}
{% include_notify_js_variables %}
<div class="subvenciones-header-menu fixed">
    <div class="subvenciones-header-menu__container">
        <a class="subv-anchor-text" href="#" {% if request.path == '/subvenciones/' or request.path == '/subvenciones/favourites/' %}onclick="openNav()"{% endif %}>
            <div class="subvenciones-header-menu__logo">Gestión de Subvenciones</div>
        </a>
        <ul class="subvenciones-ul-nav subvencion-ui-navigation">
            <li class="subv-li-nav subvenciones-ui-menu {% if request.path == '/subvenciones/' %}active{% else %}noactive{% endif %}">
                <a href="{% if urltoremember %}{{ urltoremember }}{% else %}{% url 'subvenciones:index' %}{% endif %}" class="subv-a-nav-menu"> <i class="fas fa-home"></i> Inicio</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="subv-li-nav subvenciones-ui-menu {% if request.path == '/subvenciones/new/' %}active{% else %}noactive{% endif %}">
                <a href="{% url 'subvenciones:create' %}" class="subv-a-nav-menu"> <i class="far fa-file"></i> Crear subvención</a>
            </li>
            {% endif %}
            <li class="subv-li-nav subvenciones-ui-menu">
                <!-- Index, Cuando creas y cuando pinchas en favoritos aparecerá el contador de cuántas favortias tengo -->
                <!-- También Estado, Area, Responsable -->
                {% url 'subvenciones:subvencion_by_category' estado.slug as estado %}
                {% url 'subvenciones:subvencion_by_category' area.slug as area %}
                {% url 'subvenciones:subvencion_by_category' responsable__username.username as responsable %}

                {% url 'subvenciones:subvencion_detail' subvencion.id as detail %}
                {% url 'subvenciones:edit_subvencion' subvencion.id as editsubv %}
                {% url 'subvenciones:delete_subvencion' subvencion.id as delsubv %}
                {% if request.path == '/subvenciones/' or request.path == '/subvenciones/new/' or request.path == '/subvenciones/favourites/' or request.path == estado or request.path == area or request.get_full_path == responsable %}
                    <a id="indexFavouritesButton" href="{% url 'subvenciones:favourites' %}" class="subv-a-nav-menu nav-link">
                        <span id="badge-count-likes" class="badge">{{ userlikes.count }}</span>
                        <i class="far fa-bookmark"></i> Ver favoritos
                    </a>
                <!-- En detalles, al editar, borrar la subvención, aparecerá como favorita o no -->
                {% elif request.path == detail or request.path == editsubv or request.path == delsubv %}
                    {% with total_likes=subvencion.likes.count likes=subvencion.likes.all %}
                        <a href="#" class="subv-a-nav-menu like-button-details nav-link" data-id="{{ subvencion.id }}" data-action="{% if request.user in likes %}un{% endif %}like">
                            <i class="likes_heart {% if request.user in likes %}fas{% else %}far{% endif %} fa-bookmark"></i> Ver favoritos
                        </a>
                    {% endwith %}
                {% else %}
                    <a id="indexFavouritesButton" href="{% url 'subvenciones:favourites' %}" class="subv-a-nav-menu nav-link">
                        <span id="badge-count-likes" class="badge">{{ userlikes.count }}</span>
                        <i class="far fa-bookmark"></i> Ver favoritos
                    </a>
                {% endif %}
            </li>
        </ul>

        <!-- Right menu -->
        <div class="subvenciones-header-menu__right-item">
            {% if request.user.is_authenticated %}
                {% if request.path == '/subvenciones/' or request.path == '/subvenciones/favourites/' %}
                    <div class="subv-header-exchange">
                        <div class="subvenciones-header-menu__right-item__icon">
                            <span id="button-actual-subsidie-navigation" class="subvenciones-header-menu__right-item__span"><i class="fas fa-exchange-alt"></i></span>
                        </div>
                    </div>
                    <div class="subv-nav-search-bar search-bar-right-item">
                        <input type="text" id="search-on-navigation">
                    </div>
                {% endif  %}

                <!-- Notification system -->
                <div class="subv-header-notification">
                    <div class="subvenciones-header-menu__right-item__icon">
                        <span id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="subvenciones-header-menu__right-item__span"><i class="fa fa-bell"></i></span>
                        <ul class="dropdown-menu row-user-notifications">
                            <li class="head text-light bg-dark">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <span>Notificaciones</span>
                                    </div>
                                </div>
                            </li>

                            <div class="notification-box-list">
                                {% render_notifications using request.user.notifications.active.prefetch %}
                            </div>

                            <li class="footer bg-dark text-center">
                                <!--<a href="" class="text-light">Ver Todo</a>-->
                            </li>
                        </ul>
                    </div>
                </div>

                {% if request.path == '/subvenciones/' or request.path == '/subvenciones/favourites/' %}
                    <div class="subv-header-notification estados-info">
                        <div class="subvenciones-header-menu__right-item__icon">
                            <span id="estados__info-nav" class="subvenciones-header-menu__right-item__span"><i class="fas fa-clipboard-list"></i></span>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="subvenciones-nav-dropdown dropdown-menu-subv">
            <div class="dropdown-subv__icon dropdown-menu__icon">
                <span class="subv-dropdown-icon__span"></span>
            </div>

            <div id="subvenciones-nav-dropdown-toggle" class="subvenciones-nav-dropdown dropdown-menu__box dropdown-menu__box--hide dropdown-menu__box--right">
                {% if request.user.is_authenticated %}
                {% if request.path == '/subvenciones/' %}
                    <a href="#" class="anchor-drop-dwn__subv menu-item buttons-print" id="print">
                        <div class="subv_inside__anchor--drop">
                            Imprimir tabla <span class="span__drop--itm"><i class="fas fa-print"></i></span>
                        </div>
                    </a>

                    {% if request.user.is_superuser %}
                    <a href="{% url 'subvenciones:export_subvenciones_excel' %}" class="anchor-drop-dwn__subv menu-item">
                        <div class="subv_inside__anchor--drop">
                            Exportar a Excel <span class="span__drop--itm"><i class="far fa-file-excel"></i></span>
                        </div>
                    </a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'profiles:user_profile' username=request.user %}" class="anchor-drop-dwn__subv menu-item">
                    <div class="subv_inside__anchor--drop">
                        Mi perfil <span class="span__drop--itm"><i class="far fa-user"></i></span>
                    </div>
                </a>
                <a href="{% url 'logout' %}" class="anchor-drop-dwn__subv menu-item">
                    <div class="subv_inside__anchor--drop">
                        Salir <span class="span__drop--itm"><i class="fas fa-sign-out-alt"></i></span>
                    </div>
                </a>
                {% else %}
                    <a href="{% url 'login' %}" class="anchor-drop-dwn__subv menu-item">
                        <div class="subv_inside__anchor--drop">
                            Login <span class="span__drop--itm"><i class="fas fa-sign-in-alt"></i></span>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>