@media (max-width: 1164px) {
    #breadcrumb__subsidies div {
        display: flex;
        position: absolute;
        padding-top: 30px;
    }
}
@media (min-width: 1165px) {
    #breadcrumb__subsidies div {
        margin-left: 124px;
        display: flex;
    }
}
@media (max-width: 1164px) {
    #breadcrumb__subsidies {
        margin-bottom: 2.2rem!important;
    }
}
#breadcrumb__subsidies {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 10px;
}
#breadcrumb__subsidies .icon {
  font-size: 14px;
}
#breadcrumb__subsidies li {
  float: left;
  white-space: nowrap;
}
#breadcrumb__subsidies li a {
  color: #000;
  display: block;
  background: papayawhip;
  text-decoration: none;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb__subsidies li:nth-child(even) a {
  background-color: #ffd6d6;
}
#breadcrumb__subsidies li:nth-child(even) a:before {
  border-color: #ffd6d6;
  border-left-color: transparent;
}
#breadcrumb__subsidies li:nth-child(even) a:after {
  border-left-color: #ffd6d6;
}
#breadcrumb__subsidies li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb__subsidies li:first-child a:before {
  border: none;
}
#breadcrumb__subsidies li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb__subsidies li:last-child a:after {
  border: none;
}
#breadcrumb__subsidies li a:before, #breadcrumb__subsidies li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid papayawhip;
  border-width: 13px 10px;
  width: 0;
  height: 0;
}
#breadcrumb__subsidies li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb__subsidies li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: papayawhip;
}
#breadcrumb__subsidies li a:hover {
  background-color: #ffc9a6;
}
#breadcrumb__subsidies li a:hover:before {
  border-color: #ffc9a6;
  border-left-color: transparent;
}
#breadcrumb__subsidies li a:hover:after {
  border-left-color: #ffc9a6;
}
#breadcrumb__subsidies li:nth-child(even) a:hover {
  background-color: #ffbfbf!important;
}
#breadcrumb__subsidies li:nth-child(even) a:hover:before {
  border-color: #ffbfbf!important;
  border-left-color: transparent!important;
}
#breadcrumb__subsidies li:nth-child(even) a:hover:after {
  border-left-color: #ffbfbf!important;
}
#breadcrumb__subsidies li a:active {
  background-color: #16a085;
}
#breadcrumb__subsidies li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb__subsidies li a:active:after {
  border-left-color: #16a085;
}