<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <img src="/static/UPR/img/GrupoTragsa%20RGB.jpg" style="width: 100px"/>

    <img src="/static/UPR/img/UPR.jpg" style="width: 47px" />
    <div style="margin-left: 1%;">
        <a class="navbar-brand" href="{% url 'upr:index' %}">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}UPR/">Administración</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>