<div class="resumenTotalMaquinas">
    <h4>Resumen Máquinas</h4>
                <table width="100%" class="text-right menuDetalles">
                    <tr class="lineaTR">
                        <td width="70%"><b>Total máquinas</b>:</td>
                        <td>{{ numMaquina }}</td>
                    </tr>
                    <tr class="lineaTR">
                        <td colspan="2">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width:70%"><a href="#Husqvarna555">desbrozadora 555FRM</a></td>
                                    <td>{{ numDesbro }}</td>
                                </tr>
                                <tr>
                                    <td><a href="#Stihl241">moto 241</a></td>
                                    <td>{{ numMoto241 }}</td>
                                </tr>
                                <tr>
                                    <td><a href="#Stihl261">moto 261</a></td>
                                    <td>{{ numMoto261 }}</td>
                                </tr>
                                <tr>
                                    <td><a href="#husq555">moto husq 555</a></td>
                                    <td>{{ numMotoH555 }}</td>
                                </tr>
                                <tr>
                                    <td><a href="#husq543">moto husq 543</a></td>
                                    <td>{{ numMotoH543 }}</td>
                                </tr>
                                <tr>
                                     <td><a href="#Stihl101">Total moto 101</a></td>
                                    <td>{{ numMoto101 }}</td>
                                </tr>
                                <tr>
                                    <td><a href="#Stihl103">total moto 103</a></td>
                                    <td>{{ numMoto103 }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>


                    <tr class="lineaTR">
                        <td><b>obra 0749401</b>:</td>
                        <td>{{ numMaquinaObra0748241 }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width:70%">desbrozadora 555FRM:</td>
                                    <td>{{ numDesbro_0748241 }}</td>
                                </tr>
                                <tr>
                                    <td>moto 241:</td>
                                    <td>{{ numMoto241_0748241 }}</td>
                                </tr>
                                <tr>
                                    <td>moto 261:</td>
                                    <td>{{ numMoto261_0748241 }}</td>
                                </tr>
                                <tr>
                                     <td>Total moto 101:</td>
                                    <td>{{ numMoto101_0748241 }}</td>
                                </tr>
                                <tr>
                                    <td>total moto 103:</td>
                                    <td>{{ numMoto103_0748241 }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
    </div>