<div class="container-fluid">
    <div class="row">
        {% if diputacion %}
            <div class="col-md doted-right">
                <!-- Filter Diputacion de Alicante -->
                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                    <label>Diputación de Alicante:</label>
                    <ul class="form-control modal-ajax-entes filtro" style="list-style-type: none">
                        {% for dip in diputacion %}
                            <li>
                                <label for="{{ dip.nombre }}_{{ dip.pk }}">
                                    <input name="diputacion_ajax" id="{{ dip.nombre }}_{{ dip.pk }}" type="checkbox" value="{{ dip.pk }}">{{ dip.nombre }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if generalitat %}
            <div class="col-md doted-right">
                <!-- Filter Generalitat -->
                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                    <label>Generalitat Valenciana:</label>
                    <ul class="form-control modal-ajax-entes filtro" style="list-style-type: none">
                        {% for gene in generalitat %}
                            <li>
                                <label for="{{ gene.nombre }}_{{ gene.pk }}">
                                    <input name="generalitat_ajax" id="{{ gene.nombre }}_{{ gene.pk }}" type="checkbox" value="{{ gene.pk }}">{{ gene.nombre }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if gobierno %}
            <div class="col-md">
                <!-- Filter Gobierno -->
                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                    <label>Gobierno de España:</label>
                    <ul class="form-control modal-ajax-entes filtro" style="list-style-type: none">
                        {% for gob in gobierno %}
                            <li>
                                <label for="{{ gob.nombre }}_{{ gob.pk }}">
                                    <input name="gobierno_ajax" id="{{ gob.nombre }}_{{ gob.pk }}" type="checkbox" value="{{ gob.pk }}">{{ gob.nombre }}
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row content_ajax_list">
        <div class="col-md">
            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                <!-- Subvenciones - Diputacion de Alicante -->
                <label>Diputación de Alicante:</label>
                <ul id="dip-filtered-sub" class="form-control filtro" style="list-style-type: none">
                </ul>
            </div>
        </div>

        <div class="col-md">
            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                <!-- Subvenciones - Generalitat -->
                <label>Generalitat Valenciana:</label>
                <ul id="gene-filtered-sub" class="form-control filtro" style="list-style-type: none">
                </ul>
            </div>
        </div>

        <div class="col-md">
            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                <!-- Subvenciones - Gobierno -->
                <label>Gobierno de España:</label>
                <ul id="gob-filtered-sub" class="form-control filtro" style="list-style-type: none">
                </ul>
            </div>
        </div>
    </div>
</div>