{% extends "subvenciones/base.html" %}
{% load staticfiles %}
{% load tags %}

{% block stylesheets %}
    <style>input[type=checkbox] { margin: 2px 0 0 -15px !important; } .wrapper-impreso input[type=checkbox] { margin: 4.5px 0 0 -15px !important; } body .subv-anchor-text { padding-top: 1rem!important; padding-bottom: 1.2rem!important; }</style>
    <!-- Martor - Markdown editor for comments -->
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <!--https://github.com/Semantic-Org/Semantic-UI-CSS/blob/master/components/menu.css-->
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block title %} Crear{% endblock %}

{% block navbar %}
    {% include 'subvenciones/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="row forms_act_crea">
        <div class="ag_create_post_wrapper col-lg-12">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <ul id="breadcrumb__subsidies">
                <li title="Subvenciones"><a href="{% if urltoremember %}{{ urltoremember }}{% else %}{% url 'subvenciones:index' %}{% endif %}"><span class="icon icon-home"> </span></a></li>
                <li><a href="#">Crear subvención</a></li>
            </ul>

            {{ comments_formset.management_form }}
            {% for comment_form in comments_formset %}
                {% if comment_form.user.errors %}
                    {% for error in comment_form.user.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Campo usuario de comentarios: {{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if comment_form.contenido.errors %}
                    {% for error in comment_form.contenido.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Comentarios: {{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <form id="some-form" class="form-horizontal" method="post" enctype="multipart/form-data" action="">{% csrf_token %}

                {% if form.errors %}
                    <div class="ag_form_login_message_error">
                        {% for field,error in form.errors.items %}
                            {{ field|capfirst }} - {{ error|striptags }}<br />
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-3 doted-right">
                        <div class="form-group title-create_post">
                            <div class="wrapper-subvenciones_dates--inputs">
                                <div class="form-group title-create_post subvenciones_dates--inputs" style="text-align:justify;font-weight:bold;">
                                    <!-- Fecha publicacion -->
                                    {{ form.fecha_publicacion.label_tag }}
                                    {{ form.fecha_publicacion|htmlattributes:"class:form-control" }}
                                </div>
                                <div class="form-group title-create_post subvenciones_dates--inputs" style="text-align:justify;font-weight:bold;">
                                    <!-- Fin -->
                                    {{ form.fin.label_tag }}
                                    {{ form.fin|htmlattributes:"class:form-control" }}
                                </div>
                                <div class="form-group title-create_post subvenciones_dates--inputs" style="text-align:justify;font-weight:bold;">
                                    <!-- Fecha resolucion -->
                                    {{ form.fecha_resolucion.label_tag }}
                                    {{ form.fecha_resolucion|htmlattributes:"class:form-control" }}
                                </div>
                            </div>
                        </div>

                        <!-- Responsable -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.responsable.label_tag }}
                            {{ form.responsable|htmlattributes:"class:form-control" }}
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Gestiona Enlace -->
                                {{ form.drive.label_tag }}
                                {{ form.drive|htmlattributes:"class:form-control" }}
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Gestiona Expediente -->
                                {{ form.gestiona_expediente.label_tag }}
                                {{ form.gestiona_expediente|htmlattributes:"class:form-control" }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-10 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Nombre carpeta drive -->
                                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                                    {{ form.nombre_carpeta_drive.label_tag }}
                                    {{ form.nombre_carpeta_drive|htmlattributes:"class:form-control" }}
                                </div>
                            </div>
                            <div class="form-group col-md-2 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Impreso -->
                                <div class="form-check title-create_post wrapper-impreso" style="text-align:justify;font-weight:bold;">
                                    {{ form.impreso|htmlattributes:"class:form-check-input" }}
                                    {{ form.impreso.label_tag }}
                                </div>
                            </div>
                        </div>

                        <!-- Ente -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.ente.label_tag }}
                            {{ form.ente|htmlattributes:"class:form-control" }}
                        </div>

                        <!-- Area -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.area.label_tag }}
                            {{ form.area|htmlattributes:"class:form-control" }}
                        </div>

                        <!-- Colectivo -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.colectivo.label_tag }}
                            {{ form.colectivo|htmlattributes:"class:form-control" }}
                        </div>

                        <!-- Estado -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.estado.label_tag }}
                            {{ form.estado|htmlattributes:"class:form-control" }}
                        </div>

                        <div class="row">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Cuantías</legend>
                                <p class="scheduler-border--item" style="float:left;width:33%;padding-right:5px;">
                                    <!-- Cuantia inicio -->
                                    {{ form.cuantia_inicial.label_tag }}
                                    {{ form.cuantia_inicial|htmlattributes:"class:form-control" }}
                                </p>
                                <p class="scheduler-border--item" style="float:left;width:33%;padding-right:5px;">
                                    <!-- Cuantia solicitada -->
                                    {{ form.cuantia_solicitada.label_tag }}
                                    {{ form.cuantia_solicitada|htmlattributes:"class:form-control" }}
                                </p>
                                <p class="scheduler-border--item" style="float:left;width:33%;">
                                    <!-- Cuantia final -->
                                    {{ form.cuantia_final.label_tag }}
                                    {{ form.cuantia_final|htmlattributes:"class:form-control" }}
                                </p>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-lg-6 doted-right">
                        <!-- Nombre -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre|htmlattributes:"class:form-control" }}
                        </div>

                        <!-- Leimotiv -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.leimotiv.label_tag }}
                            {{ form.leimotiv|htmlattributes:"class:form-control" }}
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Procedimiento -->
                                {{ form.procedimiento.label_tag }}
                                {{ form.procedimiento|htmlattributes:"placeholder: Procedimiento, class:form-control" }}
                            </div>
                            <div class="form-group col-md-4 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Bases -->
                                {{ form.bases.label_tag }}
                                {{ form.bases|htmlattributes:"placeholder: Bases, class:form-control" }}
                            </div>
                            <div class="form-group col-md-4 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Solicitud -->
                                {{ form.solicitud.label_tag }}
                                {{ form.solicitud|htmlattributes:"placeholder: Solicitud, class:form-control" }}
                            </div>
                        </div>

                        <!-- Descripcion -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.descripcion.label_tag }}
                            {{ form.descripcion|htmlattributes:"placeholder: Descripcion, class:form-control" }}
                        </div>

                        <!-- Comentarios -->
                        {{ comments_formset.management_form }}
                        {% for comment_form in comments_formset %}
                            {{ comment_form.user }}
                            {{ comment_form.contenido }}
                        {% endfor %}

                        <!-- Bloque fechas ejecución y justificación -->
                        <div class="row">
                            <fieldset class="scheduler-border ejecucion__justitifacion--dates">
                                <legend class="scheduler-border">Ejecución y justificación</legend>
                                <p class="scheduler-border--item" style="float:left;width:33%;padding-right:5px;">
                                    <!-- Ejecución inicio -->
                                    {{ form.incio_ejecucion.label_tag }}
                                    {{ form.incio_ejecucion|htmlattributes:"class:form-control" }}
                                </p>
                                <p class="scheduler-border--item" style="float:left;width:33%;padding-right:5px;">
                                    <!-- Ejecución fin -->
                                    {{ form.fin_ejecucion.label_tag }}
                                    {{ form.fin_ejecucion|htmlattributes:"class:form-control" }}
                                </p>
                                <p class="scheduler-border--item" style="float:left;width:33%;">
                                    <!-- Fin justificación -->
                                    {{ form.fin_justificacion.label_tag }}
                                    {{ form.fin_justificacion|htmlattributes:"class:form-control" }}
                                </p>
                                <p class="scheduler-border--item" style="float:left;">
                                    <!-- Explicación justificación -->
                                    {{ form.explicacion_justificacion.label_tag }}
                                    {{ form.explicacion_justificacion|htmlattributes:"class:form-control" }}
                                </p>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- Ajax filter -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label>Subvenciones relacionadas:</label><br>
                            <a class="ajax_relation_anchor" data-toggle="modal" data-target="#ajaxRelationFilterModal" href="{% url 'subvenciones:ajax_loop_areas' %}">Filtrar</a>
                        </div>
                        <!-- Se relacion con -->
                        <div class="form-group title-create_post se_relaciona_con_ajax_div" style="text-align:justify;font-weight:bold;">
                            {{ form.se_relaciona_con.label_tag }}
                            {{ form.se_relaciona_con|htmlattributes:"class:form-control" }}
                        </div>
                    </div>
                </div>

                <!--onclick="this.disabled=true,this.form.submit();"-->
                <div class="button_form--submit__wrapper">
                    <button class="button_submit_create_form" type="submit">Crear</button>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="ajaxRelationFilterModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg subsidies-filtered-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Filtrar por areas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button id="modal_ajax_button_filter_subsidies" type="button" class="btn btn-default" data-dismiss="modal">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addscript %}
    <!-- Martor - Markdown editor for comments -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.min.js' %}"></script>

    <script src="{% static 'subvenciones/js/create_subvenciones.js' %}"></script>
    <script src="{% static 'subvenciones/js/breadcrumbs.js' %}"></script>
    <script>
        // Frist, empty the ul and hide it
        $('ul#id_se_relaciona_con').text('');

        // RELATED SUBVENCIONES WITH AJAX
        $(document).ready(function() {
            $('.se_relaciona_con_ajax_div').css('display', 'none');
            // When you click the first filter button and modal appear
            $('.ajax_relation_anchor').on('click', function(e){
                // Made the popup appear with the insert template
                e.preventDefault();
                $('#ajaxRelationFilterModal').modal('show').find('.modal-body').load($(this).attr('href'));
            });
            // When you click on each checkbox on the modal and displays the subsidies in the
            // same modal when you check them
            $('body').on('click', '.modal-ajax-entes input:checkbox', function(){
                var checkbox = $(this);
                var dip_list = [];
                var gene_list = [];
                var gob_list = [];

                $("input[name='diputacion_ajax']:checked").each( function () {
                    dip_list.push(parseInt($(this).val()));
                });
                $("input[name='generalitat_ajax']:checked").each( function () {
                   gene_list.push(parseInt($(this).val()));
                });
                $("input[name='gobierno_ajax']:checked").each( function () {
                   gob_list.push(parseInt($(this).val()));
                });

                $.ajax({
                    method: 'GET',
                    url: "{% url 'subvenciones:ajax_se_relaciona_con' %}",
                    data: {
                        'diputacion_ajax': dip_list,
                        'generalitat_ajax': gene_list,
                        'gobierno_ajax': gob_list
                    },
                    dataType: 'json',
                    success: function (data) {
                        var dip_div = $('.content_ajax_list #dip-filtered-sub');
                        var gene_div = $('.content_ajax_list #gene-filtered-sub');
                        var gob_div = $('.content_ajax_list #gob-filtered-sub');

                        // if the checkboxes in the list are not checked they are deleted when a new checkbox is selected
                        $('ul#dip-filtered-sub input:checkbox').each(function() {
                            var checkbox_list = $(this);
                            if(checkbox_list.is(':checked')){}else{checkbox_list.parent().parent().remove();}
                        });
                        $('ul#gene-filtered-sub input:checkbox').each(function() {
                            var checkbox_list = $(this);
                            if(checkbox_list.is(':checked')){}else{checkbox_list.parent().parent().remove();}
                        });
                        $('ul#gob-filtered-sub input:checkbox').each(function() {
                            var checkbox_list = $(this);
                            if(checkbox_list.is(':checked')){}else{checkbox_list.parent().parent().remove();}
                        });

                        $.each(data, function(key, value){
                            var ente = value.fields['ente'];

                            if(ente == 1) { // Diputacion
                                value.fields["fin"] ? dip_div.append('<li><label><input type="checkbox" name="se_relaciona_con" value="'+value.pk+'" id="id_se_relaciona_con_'+key+'">'+value.fields["nombre"]+', '+ value.fields["fin"].split('-')[0] +'</label></li>') : dip_div.append('<li><label><input type="checkbox" name="se_relaciona_con" value="'+value.pk+'" id="id_se_relaciona_con_'+key+'">'+value.fields["nombre"]+'</label></li>');
                            } else if (ente == 2) { // GV
                                value.fields["fin"] ? gene_div.append('<li><label><input type="checkbox" name="se_relaciona_con" value="'+value.pk+'" id="id_se_relaciona_con_'+key+'">'+value.fields["nombre"]+', '+ value.fields["fin"].split('-')[0] +'</label></li>') : gene_div.append('<li><label><input type="checkbox" name="se_relaciona_con" value="'+value.pk+'" id="id_se_relaciona_con_'+key+'">'+value.fields["nombre"]+'</label></li>');
                            } else if (ente == 3) { // Gobierno España
                                value.fields["fin"] ? gob_div.append('<li><label><input type="checkbox" name="se_relaciona_con" value="'+value.pk+'" id="id_se_relaciona_con_'+key+'">'+value.fields["nombre"]+', '+ value.fields["fin"].split('-')[0]+'</label></li>') : gob_div.append('<li><label><input type="checkbox" name="se_relaciona_con" value="'+value.pk+'" id="id_se_relaciona_con_'+key+'">'+value.fields["nombre"]+'</label></li>');
                            }
                        });

                        // Aquí cuando seleccionas una subvención para que no vuelva a aparecer duplicada la q
                        // has seleccionado, la eliminamos si ya se encuentra dentro del objecto
                        // primero la metemos y luego miramos otra vez si está, y si así es, la eliminamos
                        var inputs_checkbox_dip = {}, inputs_checkbox_gene = {}, inputs_checkbox_gob = {};
                        $('ul#dip-filtered-sub input:checkbox').each(function() {
                            var checkbox = $(this);
                            if(inputs_checkbox_dip[checkbox.attr('id')]) {
                                $(this).parent().parent().remove();
                            } else {
                                inputs_checkbox_dip[checkbox.attr('id')] = true;
                            }
                        });
                        $('ul#gene-filtered-sub input:checkbox').each(function() {
                            var checkbox = $(this).val();
                            if(inputs_checkbox_gene[checkbox]) {
                                $(this).parent().parent().remove();
                            } else {
                                inputs_checkbox_gene[checkbox] = true;
                            }
                        });
                        $('ul#gob-filtered-sub input:checkbox').each(function() {
                            var checkbox = $(this).val();
                            if(inputs_checkbox_gob[checkbox]) {
                                $(this).parent().parent().remove();
                            } else {
                                inputs_checkbox_gob[checkbox] = true;
                            }
                        });
                    }
                });
            });

            // When you click on filter button from the modal popup
            $('#modal_ajax_button_filter_subsidies').click(function() {
                $('.se_relaciona_con_ajax_div').css('display', 'block');
                var ul_li = $('#id_se_relaciona_con');
                ul_li.text('');
                $('ul#dip-filtered-sub input:checkbox').each(function () {
                    if ($(this).is(':checked')) {
                        ul_li.append('<li>' + $(this).parent().parent().html() + '</li>');
                    }
                });

                $('ul#gene-filtered-sub input:checkbox').each(function () {
                    if ($(this).is(':checked')) {
                        ul_li.append('<li>' + $(this).parent().parent().html() + '</li>');
                    }
                });

                $('ul#gob-filtered-sub input:checkbox').each(function () {
                    if ($(this).is(':checked')) {
                        ul_li.append('<li>' + $(this).parent().parent().html() + '</li>');
                    }
                });
                $('#id_se_relaciona_con input:checkbox').prop('checked', true);
            });

            // Change cuantia label text
            $("#id_cuantia_inicial").prev().empty().append('Inicio:').css({'display':'block', 'text-align':'left'});
            $("#id_cuantia_solicitada").prev().empty().append('Solicitada:').css({'display':'block', 'text-align':'left'});
            $("#id_cuantia_final").prev().empty().append('Final:').css({'display':'block', 'text-align':'left'});

            // Change dates label text
            $("#id_fecha_publicacion").prev().empty().append('Publicación:');
            $("#id_fecha_resolucion").prev().empty().append('Resolución:');
        });
    </script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <!-- For the admin site -->
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
{% endblock %}