{% extends "subvenciones/base.html" %}
{% load staticfiles %}
{% load martortags %}

{% block stylesheets %}
    <style>#id_impreso + label { margin-left: -4px!important; } #id_sin_cuantia { margin: 6px 0 0 -76px !important; }</style>
{% endblock %}

{% block title %}
    Subs: {{ subvencion.nombre }}
{% endblock %}

{% block navbar %}
    {% include 'subvenciones/snippets/navbar.html' %}
{% endblock %}

{% block content %}
{% load tags %}
    <div class="row forms_act_crea">
        <div class="ag_create_post_wrapper col-lg-12">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <ul id="breadcrumb__subsidies">
                <li title="Subvenciones"><a href="{% if urltoremember %}{{ urltoremember }}{% else %}{% url 'subvenciones:index' %}{% endif %}"><span class="icon icon-home"> </span></a></li>
                <li title="{{ subvencion.area }}"><a href="#">{{ subvencion.area|truncatechars:15 }}</a></li>
                <li title="{{ subvencion.nombre }}"><a href="{{ subvencion.get_absolute_url }}">{{ subvencion.nombre|truncatechars:15 }}</a></li>
                <li title="Creado por"><a href="#"><span class="icon icon-user"> </span> {{ subvencion.user|title }}, {{ subvencion.created }}</a></li>
                <li title="Última modificación"><a href="#"><span class="icon icon-pencil"> </span> {{ subvencion.updated }}</a></li>
                <div class="breadcrumb__left--buttons">
                    <li class="breadcrumb_detail__anchor--edit"><a href="{% url 'subvenciones:edit_subvencion' pk=subvencion.pk %}"><span class="icon icon-pencil"> </span> Editar</a></li>
                    <li class="breadcrumb_detail__anchor--delete"><a href="{% url 'subvenciones:delete_subvencion' pk=subvencion.pk %}"><span class="icon icon-trash"> </span> Eliminar</a></li>
                    <li class="breadcrumb_detail__anchor--pdf"><a href="{% url 'subvenciones:admin_subvencion_pdf' subvencion_id=subvencion.id %}" target="_blank"><span class="far fa-file-pdf"> </span> PDF</a></li>
                </div>
            </ul>

            <form id="some-form" class="form-horizontal">
                <div class="row">
                    <div class="col-lg-3 doted-right">
                        <div class="form-group title-create_post">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Group dates">
                                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;margin-right:2px;">
                                    <!-- Fecha publicación -->
                                    <label for="id_inicio">Publicación:</label>
                                    <input type="text" id="id_inicio" value="{{ subvencion.fecha_publicacion|date:'d/m/Y' }}" class="form-control" readonly>
                                </div>

                                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;margin-right:2px;">
                                    <!-- Fin -->
                                    <label for="id_fin">Fin:</label>
                                    <input type="text" id="id_fin" value="{{ subvencion.fin|date:'d/m/Y' }}" class="form-control" readonly>
                                </div>
                                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                                    <!-- Fecha envio -->
                                    <label for="id_fecha_envio">Envío:</label>
                                    <input type="text" id="id_fecha_envio" value="{{ subvencion.fecha_envio|date:'d/m/Y' }}" class="form-control" readonly>
                                </div>
                                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                                    <!-- Fecha resolucion -->
                                    <label for="id_fecha_resolucion">Resolución:</label>
                                    <input type="text" id="id_fecha_resolucion" value="{{ subvencion.fecha_resolucion|date:'d/m/Y' }}" class="form-control" readonly>
                                </div>
                            </div>
                        </div>

                        <!-- Responsable -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label>Responsable:</label>
                            <ul id="id_responsable" class="form-control">
                                {% for responsable in subvencion.responsable.all %}
                                <li>
                                    <label for="id_responsable_{{ responsable.id }}"><input checked onclick="return false;" type="checkbox" value="{{ responsable.id }}" id="id_responsable_{{ responsable.id }}">
                                        {{ responsable.username }}
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Gestiona Enlace -->
                                <label for="id_drive">Drive:</label>
                                <textarea style="cursor:pointer;" id="id_drive" rows="1" cols="20" class="form-control" readonly>{{ subvencion.drive }}</textarea>
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Gestiona Expediente -->
                                <label for="id_gestiona_expediente">Gestiona exp:</label>
                                <input type="text" value="{% if subvencion.gestiona_expediente %}{{ subvencion.gestiona_expediente }}{% endif %}" id="id_gestiona_expediente" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Nombre carpeta drive -->
                            <div class="form-group col-md-10 title-create_post" style="text-align:justify;font-weight:bold;">
                                <label for="id_nombre_carpeta_drive">Nombre carpeta drive:</label>
                                <input type="text" value="{{ subvencion.nombre_carpeta_drive }}" id="id_nombre_carpeta_drive" class="form-control" readonly>
                            </div>

                            <!-- Impreso -->
                            <div class="form-group col-md-2 title-create_post wrapper-impreso" style="text-align:justify;font-weight:bold;">
                                <input type="checkbox" {% if subvencion.impreso %}checked{% endif %} onclick="return false;" id="id_impreso" class="form-check-input" readonly>
                                <label for="id_impreso" class="{% if subvencion.impreso %}nested-icon-check{% endif %}">Impreso</label>
                            </div>
                        </div>

                        <!-- Ente -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_ente">Ente:</label>
                            <textarea id="id_ente" rows="1" cols="20" class="form-control" readonly>{{ subvencion.ente }}</textarea>
                        </div>

                        <!-- Area -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_area">Area:</label>
                            <textarea title="{{ subvencion.area }}" id="id_area" rows="1" cols="20" class="form-control" readonly>{{ subvencion.area }}</textarea>
                        </div>

                        <!-- Colectivo -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label>Colectivo:</label>
                            <ul id="id_colectivo" class="form-control">
                                {% for colectivo in subvencion.colectivo.all %}
                                <li>
                                    <label for="id_colectivo_{{ colectivo.id }}"><input checked onclick="return false;" type="checkbox" value="{{ colectivo.id }}" id="id_colectivo_{{ colectivo.id }}">
                                        {{ colectivo.nombre }}
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- Estado -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_estado">Estado:</label>
                            <input type="text" value="{{ subvencion.estado }}" id="id_estado" class="form-control" readonly>
                        </div>

                        <div class="row">
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Cuantías</legend>
                                <p class="scheduler-border--item" style="float:left;width:33%;padding-right:5px;">
                                    <!-- Cuantia inicio -->
                                    <label for="id_cuantia_inicial">Inicio:</label>
                                    <input type="text" value="{% if subvencion.cuantia_inicial %}{{ subvencion.cuantia_inicial }}{% endif %}" id="id_cuantia_inicial" class="form-control" readonly>
                                </p>
                                <p class="scheduler-border--item" style="float:left;width:33%;padding-right:5px;">
                                    <!-- Cuantia solicitada -->
                                    <label for="id_cuantia_solicitada">Solicitada:</label>
                                    <input type="text" value="{% if subvencion.cuantia_solicitada %}{{ subvencion.cuantia_solicitada }}{% endif %}" id="id_cuantia_solicitada" class="form-control" readonly>
                                </p>
                                <p class="scheduler-border--item" style="float:left;width:33%;">
                                    <!-- Cuantia final -->
                                    <label for="id_cuantia_final">Final:</label>
                                    <input type="text" value="{% if subvencion.cuantia_final %}{{ subvencion.cuantia_final }}{% endif %}" id="id_cuantia_final" class="form-control" readonly>
                                </p>

                                <!-- Sin cuantía -->
                                <div class="form-check title-create_post" style="text-align:justify;font-weight:bold;margin-top:55px;">
                                    <label for="id_sin_cuantia">Sin cuantía</label>
                                    <input {% if subvencion.sin_cuantia %}checked{% endif %} type="checkbox" id="id_sin_cuantia" class="form-check-input" onclick="return false;">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-lg-6 doted-right">
                        <!-- Nombre -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_nombre">Nombre:</label>
                            <textarea id="id_nombre" rows="1" cols="20" class="form-control" readonly tabindex="0" data-toggle="popover" data-trigger="hover" data-html="true" title="Nombre" data-content="{{ subvencion.nombre }}">{{ subvencion.nombre }}</textarea>
                        </div>

                        <!-- Leimotiv -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_leimotiv">Leimotiv:</label>
                            <textarea id="id_leimotiv" rows="1" cols="20" class="form-control" readonly tabindex="0" data-toggle="popover" data-trigger="hover" data-html="true" title="Leimotiv" data-content="{{ subvencion.leimotiv }}">{% if subvencion.leimotiv %}{{ subvencion.leimotiv }}{% endif %}</textarea>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Procedimiento -->
                                <label for="id_procedimiento">Procedimiento:</label>
                                <div id="id_procedimiento" class="form-control" style="overflow:hidden;height:30px;">
                                    <a href="{{ subvencion.procedimiento }}" target="_blank">{{ subvencion.procedimiento }}</a>
                                </div>
                            </div>
                            <div class="form-group col-md-4 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Bases -->
                                <label for="id_bases">Bases:</label>
                                <div id="id_bases" class="form-control" style="overflow:hidden;height:30px;">
                                    <a href="{{ subvencion.bases }}" target="_blank">{{ subvencion.bases }}</a>
                                </div>
                            </div>
                            <div class="form-group col-md-4 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Solicitud -->
                                <label for="id_solicitud">Solicitud:</label>
                                <div id="id_solicitud" class="form-control" style="overflow:hidden;height:30px;">
                                    <a href="{{ subvencion.solicitud }}" target="_blank">{{ subvencion.solicitud }}</a>
                                </div>
                            </div>
                        </div>

                        <!-- Descripcion -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_descripcion">Descripción:</label>
                            <textarea id="id_descripcion" disabled rows="12" cols="20" class="form-control">{{ subvencion.descripcion|safe }}</textarea>
                        </div>

                        <!-- Comentarios -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_comentarios">Comentarios:</label>
                            <div id="id_comentarios" disabled rows="12" cols="20" class="form-control">
                                {% for comment in subvencion.comments.all %}
                                    {% if comment.contenido %}
                                        <span class="comment_user_date">{{ comment.user.username }}: {{ comment.created|date:"d/m/Y" }}</span>: {{ comment.contenido|safe_markdown }}
                                    {% else %}
                                            No hay comentarios para esta subvención.
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Bloque fechas ejecución y justificación -->
                        <div class="row">
                            <fieldset class="scheduler-border ejecucion__justitifacion--dates">
                                <legend class="scheduler-border">Ejecución y justificación</legend>
                                <p class="scheduler-border--item" style="float:left;width:33%;padding-right:5px;">
                                    <!-- Ejecución inicio -->
                                    <label for="id_incio_ejecucion">Inicio ejecución:</label>
                                    <input type="text" value="{% if subvencion.incio_ejecucion %}{{ subvencion.incio_ejecucion|date:'d/m/Y' }}{% endif %}" id="id_incio_ejecucion" class="form-control" readonly>
                                </p>
                                <p class="scheduler-border--item" style="float:left;width:33%;padding-right:5px;">
                                    <!-- Ejecución fin -->
                                    <label for="id_fin_ejecucion">Fin ejecución:</label>
                                    <input type="text" value="{% if subvencion.fin_ejecucion %}{{ subvencion.fin_ejecucion|date:'d/m/Y' }}{% endif %}" id="id_fin_ejecucion" class="form-control" readonly>
                                </p>
                                <p class="scheduler-border--item" style="float:left;width:33%;">
                                    <!-- Fin justificación -->
                                    <label for="id_fin_justificacion">Fin justificación:</label>
                                    <input type="text" value="{% if subvencion.fin_justificacion %}{{ subvencion.fin_justificacion|date:'d/m/Y' }}{% endif %}" id="id_fin_justificacion" class="form-control" readonly>
                                </p>
                                <p class="scheduler-border--item" style="float:left;">
                                    <!-- Explicación justificación -->
                                    <label for="id_explicacion_justificacion">Explicación justificación:</label>
                                    <textarea id="id_explicacion_justificacion" disabled rows="5" cols="40" class="form-control">{{ subvencion.explicacion_justificacion|safe }}</textarea>
                                </p>
                            </fieldset>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- Se relacion con -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label>Se relaciona con:</label>
                            <ul id="id_se_relaciona_con" class="form-control">
                                {% for subv in subvencion.se_relaciona_con.all %}
                                    <li>
                                        <label for="id_se_relaciona_con_{{ subv.id }}"><input checked onclick="return false;" type="checkbox" name="se_relaciona_con" value="{{ subv.id }}" id="id_se_relaciona_con_{{ subv.id }}">
                                            {{ subv.nombre }}
                                        </label>
                                        <div style="text-align:right;">
                                            <a href="{{ subv.get_absolute_url }}" target="_blank"><img src="{% static 'subvenciones/img/icons/Icon_External_Link.png' %}" alt="{{ subv.get_absolute_url }}"></a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block addscript %}
    <script src="{% static 'subvenciones/js/detail.js' %}"></script>
{% endblock %}

{% block js %}
    <script>
        // AJAX FOR LIKES
        $('a.like-button-details').click(function(e) {
            e.preventDefault();
            $.post('{% url "subvenciones:like" %}',
                {
                    id: $(this).data('id'),
                    action: $(this).data('action')
                },
                function(data) {
                    if(data['status'] == 'ok')
                    {
                        var button_likes = $('a.like-button-details');
                        var previous_action = button_likes.data('action');
                        //toggle data-action
                        button_likes.data('action', previous_action == 'like' ? 'unlike' : 'like');
                        //toggle link text
                        $('.likes_heart').addClass(previous_action == 'like' ? $('.likes_heart').addClass("fas") : $('.likes_heart').removeClass('fas'));
                    }
                }
            );
        });

        // Change cuantia label text
        $("#id_cuantia_inicial").prev().empty().append('Inicio:').css({'display':'block', 'text-align':'left'});
        $("#id_cuantia_solicitada").prev().empty().append('Solicitada:').css({'display':'block', 'text-align':'left'});
        $("#id_cuantia_final").prev().empty().append('Final:').css({'display':'block', 'text-align':'left'});
    </script>
{% endblock %}