<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
    <body>
        <ul>
            <h3>Listado de subvenciones que van a expirar pronto</h3>
            {% for s in subvenciones %}
                <li>{{ s.nombre }} <strong>- Expira en: {{ today|timesince:s.fin }}</strong></li>
            {% endfor %}
        </ul>
    </body>
</html>