{% extends "subvenciones/base.html" %}
{% load staticfiles %}
{% load tags %}
{% load martortags %}

{% block stylesheets %}
    <style>input[type=checkbox] { margin: 2px 0 0 -15px !important; }</style>
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/datatables/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.foundation.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.jqueryui.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.semanticui.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/mixins.css' %}">
{% endblock %}

{% block title %}
    Subvenciones
{% endblock %}

{% block navbar %}
    {% include 'subvenciones/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <!-- Side Navigation Menu for Filtering -->
    <div class="cd-filter">
        <form id="filtering-form-subs" action="" method="get" style="padding-left:15px;padding-right:15px;padding-bottom:15px;">
            <div class="row">
                <div id="filter_fecha_publicacion" class="col form-group title-create_post" style="text-align:justify;font-weight:bold;font-size:0.9rem;margin-bottom:0;">
                    {{ filter.form.fecha_publicacion|htmlattributes:"class:form-control" }}
                </div>
                <div id="filter_fin" class="col form-group title-create_post" style="text-align:justify;font-weight:bold;font-size:0.9rem;">
                    {{ filter.form.fin|htmlattributes:"class:form-control" }}
                </div>
                <div id="filter_estado__nombre" class="col form-group title-create_post" style="margin-top: 29px;text-align:justify;font-weight:bold;font-size:0.9rem;">
                    <div class="custom-select" id="custom-select">Estado</div>
                    <div id="custom-select-option-box">
                        {{ filter.form.estado|htmlattributes:"class:custom-select-option" }}
                    </div>
                </div>
                <div class="col form-group title-create_post" style="margin-top: 29px;text-align:justify;font-weight:bold;font-size:0.9rem;">
                    {{ filter.form.ente|htmlattributes:"class:form-control" }}
                </div>
                <div class="col form-group title-create_post" style="margin-top: 29px;text-align:justify;font-weight:bold;font-size:0.9rem;">
                    {{ filter.form.area|htmlattributes:"class:form-control" }}
                </div>
                <div class="col form-group title-create_post" style="margin-top: 29px;text-align:justify;font-weight:bold;font-size:0.9rem;">
                    <div class="custom-select" id="custom-select2">Responsable</div>
                    <div id="custom-select-option-box2">
                        {{ filter.form.responsable|htmlattributes:"class:custom-select-option2" }}
                    </div>
                </div>
            </div>
            <input type="submit" value="Filtrar" />
        </form>
        <div class="for__filtering--buttons">
            <button class="reset_filter--session__fields" onclick="customReset();">Reset</button>
            <div class="filter_message__reset"></div>
        </div>
        <!--<a href="javascript:void(0)" onclick="closeNav()" class="cd-close">Cerrar</a>-->
    </div>

    <!-- BACK TO TOP -->
    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>

    <div class="row align-items-center subv-table-row">
        <div id="wrapper-subs-table" class="col-12 nopadding">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% if filter %}
                <table id="subv_table_ordering" class="table" width="100%">
                    <thead class="thead-subv-table">
                        <tr class="table-active">
                            <th>Fecha publicación</th>
                            <th>Nombre y descripción</th>
                            <th>Vencimiento</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for f in filter.qs %}
                            <tr>
                                <td class="td1 {% if f.ente.id == 1 %}diputacion{% elif f.ente.id == 2 %}conselleria{% else %}gobierno{% endif %}">
                                    <div class="bloque01">
                                        {% if f.fecha_publicacion %}<div class="fechaInicio">{{ f.fecha_publicacion|date:"d/m/Y" }}</div>{% endif %}
                                        <div class="colectivo">
                                            <ul>
                                                {% for colectivo in colectivos %}
                                                    {% if colectivo in f.colectivo.all %}
                                                            <li>{{ colectivo }}</li>
                                                    {% else %}
                                                        <li class="apagado">{{ colectivo }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="departamento depart{{ f.area.id }}">
                                        <a style="color:#000;" href="{{ f.area.get_absolute_url }}">{{ f.area }}</a>
                                    </div>
                                    <div class="repositorios">
                                        <div class="drive"><i class="fab fa-google-drive"></i>
                                            {% if not f.drive %}
                                            {% else %}
                                                <a href="{{ f.drive }}" target="_blank">{% if f.nombre_carpeta_drive %}{{ f.nombre_carpeta_drive }}{% else %}Drive{% endif %}</a>
                                            {% endif %}
                                        </div>
                                        <div class="gestiona" style="overflow: hidden;">
                                            <i class="fas fa-university"></i> {% if not f.gestiona_expediente %}{% else %}<a href="{{ f.gestiona_expediente }}" target="_blank">{{ f.gestiona_expediente }}</a>{% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="td2">
                                    {% if f.leimotiv %}<div class="leimotiv">{{ f.leimotiv|safe }}</div>{% endif %}
                                    <b>
                                        <a href="{% url 'subvenciones:edit_subvencion' pk=f.pk %}" target="_blank">
                                            {{ f.nombre|safe }}
                                        </a>
                                    </b>
                                    <br />
                                    {{ f.descripcion|safe }}
                                </td>
                                <td class="td3 estado{{ f.estado.id }}" style="{% if f.fin|daysuntil in days_until_estado %}background-color:#ff0000;color:#fff;{% elif f.estado.id == 4 %}background-color:#ff0000;color:#fff;{% elif f.estado.id == 8 %}background-color:#ff0000;color:#fff;{% elif f.estado.id == 9 %}background-color:#ff0000;color:#fff;{% endif %}">
                                    {% if f.fin %}<div class="fechaInicio date-end">{{ f.fin|date:"d/m/Y" }}</div>{% endif %}
                                    <div class="estadoBloque estado"><a style="color:#fff;" href="{{ f.estado.get_absolute_url }}">{{ f.estado }}</a></div>
                                    <div class="responsables">
                                        {% for responsable in f.responsable.all %}
                                            <div class="card" tabindex="0" data-toggle="popover" data-trigger="hover" data-content="{{ responsable.first_name }}">
                                                <div class="card-body text-center">
                                                    <p><img src='{% if responsable.profile.avatar %}{{ responsable.profile.avatar.url }}{% else %}{% static 'home/img/avatar/default.png' %}{% endif %}' alt="card image"></p>
                                                    <h5 class="card-title">{{ responsable.first_name|split_value }}</h5>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="cuantia"><div class="cuantia_index__span">I</div><div class="cuantia_index__numbers">{% if f.cuantia_inicial %}{{ f.cuantia_inicial|safe }}{% endif %}</div></div>
                                    <div class="cuantia"><div class="cuantia_index__span">S</div><div class="cuantia_index__numbers">{% if f.cuantia_solicitada %}{{ f.cuantia_solicitada|safe }}{% endif %}</div></div>
                                    <div class="cuantia"><div class="cuantia_index__span">C</div><div class="cuantia_index__numbers">{% if f.cuantia_final %}{{ f.cuantia_final|safe }}{% endif %}</div></div>
                                </td>
                                <td class="td4">
                                    <!-- Comentarios -->
                                    {% for comment in f.comments.all %}
                                        <span class="comment_user_date">{{ comment.user.first_name }}: {{ comment.created|date:"d/m/Y" }}</span>:
                                        {{ comment.contenido|safe_markdown }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if request.path == '/subvenciones/' %}
                    <h2>No tiene subvenciones asignadas.</h2>
                {% else %}
                    <h2>No tiene subvenciones favoritas.</h2>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block addscript %}
    <!-- CDN for sorting the head on the table -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="{% static 'home/datatables/datatables.min.js' %}"></script>

    <!-- Sorting datatimes in datatables -->
    <!--
        https://datatables.net/blog/2014-12-18
        Datatables plugin for sorting dates in the table
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="{% static 'subvenciones/js/datetime-moment.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/dataTables.buttons.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.flash.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.bootstrap4.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.colVis.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.foundation.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.html5.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.jqueryui.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.print.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.semanticui.js' %}"></script>
    <script src="{% static 'home/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'home/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'home/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'subvenciones/js/base.js' %}"></script>
    <script>
        /* Sidebar Navigation */
        function openNav() {
            $('.cd-filter').slideToggle(100);

            if($('#wrapper-subs-table').css('margin-top') == '115px') {
                $('#wrapper-subs-table').css('margin-top', '0');
            } else {
                $('#wrapper-subs-table').css('margin-top', '115px');
            }

            // $('.cd-filter').toggleClass('filter-is-visible');
        }

        function closeNav() {
            $('.cd-filter').slideToggle(100);
            document.getElementById("wrapper-subs-table").style.marginTop = "0";
            $('#wrapper-subs-table').css('margin-top', '0');
            // $('.cd-filter').toggleClass('filter-is-visible');
        }

        // Change label estado value, because filtering it leaves it as: "Estado nombre"
        //$('#filter_estado__nombre > label').html('Estado:');

        /*$("[data-toggle=popover]").popover({
            html: true
        });*/

        $('ul#id_estado').prepend("<li><label for='id_toggleAll'><input type='checkbox' id='id_toggleAll' class='custom-select-option' onClick='toggleAllCheckboxes(this)' />Todos</label></li>");

        // Check and uncheck all checkboxes inside Estado select
        function toggleAllCheckboxes(source) {
            checkboxes = document.getElementsByName('estado');
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        // Reset variable session location and fields
        $('button.reset_filter--session__fields').click(function() {
            $.ajax({
                url: '{% url 'subvenciones:ajax_filter_reset' %}',
                data: {},
                dataType: 'json',
                success: function (data) {
                    if (data.filter != 'No') {
                        $('.filter_message__reset').text(data.filter);
                        $('.filter_message__reset').css('background-color', '#000');
                    } else {
                        $('.filter_message__reset').text('¡Filtro ya reiniciado!');
                        $('.filter_message__reset').css('background-color', '#000');
                    }
                }
            });
        });

        // Reset filtering form
        function customReset() {
            $('#id_fecha_publicacion').val('');
            $('#id_fin').val('');
            $("ul#id_estado input[type=checkbox]").prop("checked", false);
            $("ul#id_responsable input[type=checkbox]").prop("checked", false);
            $("#id_ente").val($("#id_ente option:first").val());
            $("#id_area").val($("#id_area option:first").val());
        }

        // Uncheck checboxes responsable from filter
        $('ul#id_responsable input').each(function() {
            $(this).prop( "checked", false );
        });

        // Filtering date ranges insert label before and placeholders
        $('#filter_fecha_publicacion').prepend('<span style="font-size:13px;display:block;margin-left:2px;">Fecha publicación:</span>');
        $('#filter_fin').prepend('<span style="font-size:13px;display:block;margin-left:2px;">Fecha fin:</span>');

        // Remove text nodes from a specific element, date ranges divs filtering
        $('#filter_fecha_publicacion, #filter_fin')
            .contents()
            .filter(function() {
            return this.nodeType == 3; //Node.TEXT_NODE
        }).remove();
    </script>
{% endblock %}