{% extends "subvenciones/base.html" %}
{% load staticfiles %}
{% load tags %}
{% load martortags %}

{% block stylesheets %}
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/datatables/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.foundation.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.jqueryui.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/buttons.semanticui.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'home/datatables/Buttons-1.5.1/css/mixins.css' %}">
{% endblock %}

{% block title %}
    Subvenciones
{% endblock %}

{% block navbar %}
    {% include 'subvenciones/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <!-- Side Navigation Menu for Filtering -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form action="" method="get" style="padding-left:15px;padding-right:15px;padding-bottom:15px;">
            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;font-size:0.9rem;">
                {{ filter.form.estado.label_tag }}
                {{ filter.form.estado|htmlattributes:"class:form-control" }}
            </div>
            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;font-size:0.9rem;">
                {{ filter.form.ente.label_tag }}
                {{ filter.form.ente|htmlattributes:"class:form-control" }}
            </div>
            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;font-size:0.9rem;">
                {{ filter.form.area.label_tag }}
                {{ filter.form.area|htmlattributes:"class:form-control" }}
            </div>
            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;font-size:0.9rem;">
                {{ filter.form.responsable.label_tag }}
                {{ filter.form.responsable|htmlattributes:"class:form-control" }}
            </div>
            <input type="submit" value="Filtrar" />
        </form>
    </div>

    <!-- Info app: ESTADOS -->
        <div class="boards-drawer">
            <div class="boards-drawer-content" style="max-height: 450px;">
                <div class="board-drawer-boards">
                    <div>
                        <div class="js-section-content">
                            <ul class="sidebar-boards-list">
                                {% for e in estados %}
                                    <li class="compact-board-tile">
                                        <div class="compact-board-tile-wrapper">
                                            <span class="compact-board-tile-background" style="background-color: {{ e.color }};"></span> <!-- Modify background color -->
                                            <span class="compact-board-tile-fade"></span>
                                            <a class="js-open-board compact-board-tile-link" href="#">
                                                <span class="compact-board-tile-link-thumbnail" style="background-color: {{ e.color }};"></span> <!-- Modify background color -->
                                                <span class="compact-board-tile-link-text">
                                                    <span class="compact-board-tile-text-name">{{ e.nombre }} ({{e.the_count}})</span>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                                <li class="compact-board-tile">
                                    <div class="compact-board-tile-wrapper">
                                        <span class="compact-board-tile-background" style="background-color: #ff0017;"></span>
                                        <span class="compact-board-tile-fade"></span>
                                        <a class="js-open-board compact-board-tile-link" href="{% url 'subvenciones:index' %}">
                                            <span class="compact-board-tile-link-thumbnail" style="background-color: #ff0017;"></span>
                                            <span class="compact-board-tile-link-text">
                                                <span class="compact-board-tile-text-name">Todas las subvenciones ({{ total_subvenciones }})</span>
                                            </span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- BACK TO TOP -->
    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>

    <div class="row align-items-center subv-table-row">
        <div class="col-12 nopadding">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% if filter %}
                <table id="subv_table_ordering" class="table" width="100%">
                    <thead class="thead-subv-table">
                        <tr class="table-active">
                            <th>Fecha publicación</th>
                            <th>Nombre y descripción</th>
                            <th>Vencimiento</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for f in filter.qs %}
                            <tr>
                                <td class="td1 {{ f.ente }}">
                                    <div class="bloque01">
                                        <div class="fechaInicio">{{ f.fecha_publicacion|date:"d/m/Y" }}</div>
                                        <div class="colectivo">
                                            <ul>
                                                {% for colectivo in colectivos %}
                                                    {% if colectivo in f.colectivo.all %}
                                                            <li>{{ colectivo }}</li>
                                                    {% else %}
                                                        <li class="apagado">{{ colectivo }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="departamento depart{{ f.area.id }}">
                                        {{ f.area }}
                                    </div>
                                    <div class="repositorios">
                                        <div class="drive"><i class="fab fa-google-drive"></i>
                                            {% if not f.drive %}
                                            {% else %}
                                                <a href="{{ f.drive }}" target="_blank">{% if f.nombre_carpeta_drive %}{{ f.nombre_carpeta_drive }}{% else %}Drive{% endif %}</a>
                                            {% endif %}
                                        </div>
                                        <div class="gestiona" style="overflow: hidden;">
                                            <i class="fas fa-university"></i> {% if not f.gestiona_expediente %}{% else %}<a href="{{ f.gestiona_expediente }}" target="_blank">{{ f.gestiona_expediente }}</a>{% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="td2">
                                    <b>
                                        <a href="{{ f.get_absolute_url }}" target="_blank">
                                            {{ f.nombre|safe }}
                                        </a>
                                    </b>
                                    <br />
                                    {{ f.descripcion|safe }}
                                </td>
                                <td class="td3" style="{% if f.fin|daysuntil in days_until_estado %}background-color:#ff0000;color:#fff;{% elif f.estado.id == 4 %}background-color:#ff0000;color:#fff;{% elif f.estado.id == 8 %}background-color:#ff0000;color:#fff;{% elif f.estado.id == 9 %}background-color:#ff0000;color:#fff;{% endif %}">
                                    <div class="fechaInicio date-end">{{ f.fin|date:"d/m/Y" }}</div>
                                    <div class="estadoBloque estado">{{ f.estado }}</div>
                                    <div class="responsables">
                                        {% for responsable in f.responsable.all %}
                                            <span class="badge badge-pill badge-inverse" tabindex="0" data-toggle="popover" data-trigger="hover" data-content="{{ responsable.username }}">
                                                {{ responsable|split_value }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                    <div class="cuantia"><i class="fas fa-dollar-sign"></i> {% if f.cuantia_inicial %}{{ f.cuantia_inicial|safe }}{% endif %}</div>
                                    <div class="cuantia"><i class="fas fa-euro-sign"></i> {% if f.cuantia_final %}{{ f.cuantia_final|safe }}{% endif %}</div>
                                </td>
                                <td class="td4">
                                    <!-- Comentarios -->
                                    {% for comment in f.comments.all %}
                                        <span class="comment_user_date">{{ comment.user.username }}: {{ comment.created|date:"d/m/Y" }}</span>:
                                        {{ comment.contenido|safe_markdown }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if request.path == '/subvenciones/' %}
                    <h2>No tiene subvenciones asignadas.</h2>
                {% else %}
                    <h2>No tiene subvenciones favoritas.</h2>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block addscript %}
    <!-- CDN for sorting the head on the table -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="{% static 'home/datatables/datatables.min.js' %}"></script>

    <!-- Sorting datatimes in datatables -->
    <!--
        https://datatables.net/blog/2014-12-18
        Datatables plugin for sorting dates in the table
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="{% static 'subvenciones/js/datetime-moment.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/dataTables.buttons.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.flash.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.bootstrap4.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.colVis.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.foundation.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.html5.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.jqueryui.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.print.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.semanticui.js' %}"></script>
    <script src="{% static 'home/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'home/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'home/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'subvenciones/js/base.js' %}"></script>
    <script src="{% static 'notify/notifyX.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <script>
        /* Sidebar Navigation */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            // document.body.style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            // document.body.style.marginLeft= "0";
            //document.body.style.backgroundColor = "white";
        }

        /* Info ESTADOS */
        $('.estados-info').click(function() {
            $('.boards-drawer:visible').length ? $('.boards-drawer').css('display', 'none') : $('.boards-drawer').css('display', 'block');
        });

        /* Estados hover */
        $('.compact-board-tile-link').each(function() {
            $(this).mouseover(function() {
                $('span:first', this).css({'opacity': 1});
            }).mouseleave(function() {
                $('span:first', this).css({'opacity': .7});
            });
        });

        // Close Estados tab when click outside of that DIV
        $(document).mouseup(function(e)
        {
            var container = $(".boards-drawer");

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0)
            {
                container.hide();
            }
        });
    </script>
{% endblock %}