{% extends "subvenciones/base.html" %}
{% load staticfiles %}
{% load tags %}
{% load martortags %}

{% block title %}
    {% if estado %}{{ estado.nombre }}{% elif area %}{{ area.nombre }}{% elif user %}{{ user.username }}{% else %}Subvenciones{% endif %}
{% endblock %}

{% block navbar %}
    {% include 'subvenciones/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <!-- BACK TO TOP -->
    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>

    <div class="row align-items-center subv-table-row">
        <div class="col-12 nopadding">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% if subvenciones %}
                <table id="subv_table_ordering" class="table" width="100%">
                    <thead class="thead-subv-table">
                        <tr class="table-active">
                            <th>Inicio</th>
                            <th>Nombre y descripción</th>
                            <th>Vencimiento</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for subvencion in subvenciones %}
                            <tr>
                                <td class="td1 {{ subvencion.ente }}">
                                    <div class="bloque01">
                                        <div class="fechaInicio">{{ subvencion.inicio|date:"d/m/Y" }}</div>
                                        <div class="colectivo">
                                            <ul>
                                                {% for colectivo in colectivos %}
                                                    {% if colectivo in subvencion.colectivo.all %}
                                                            <li>{{ colectivo }}</li>
                                                    {% else %}
                                                        <li class="apagado">{{ colectivo }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="departamento depart{{ subvencion.area.id }}">
                                        <a class="ente_area_link" href="{{ subvencion.area.get_absolute_url }}">{{ subvencion.area }}</a>
                                    </div>
                                    <div class="repositorios">
                                        <div class="drive"><i class="fab fa-google-drive"></i>
                                            {% if not subvencion.drive %}
                                            {% else %}
                                                <a href="{{ subvencion.drive }}" target="_blank">{% if subvencion.nombre_carpeta_drive %}{{ subvencion.nombre_carpeta_drive }}{% else %}Drive{% endif %}</a>
                                            {% endif %}
                                        </div>
                                        <div class="gestiona"><i class="fas fa-university"></i> {% if not subvencion.gestiona_expediente %}{% else %}{{ subvencion.gestiona_expediente }}{% endif %}</div>
                                    </div>
                                </td>
                                <td class="td2">
                                    <b>
                                        <a href="{{ subvencion.get_absolute_url }}" target="_blank">
                                            {{ subvencion.nombre|safe }}
                                        </a>
                                    </b>
                                    <br />
                                    {{ subvencion.descripcion|safe }}
                                </td>
                                <td class="td3" style="{% if subvencion.fin|daysuntil in days_until_estado %}background-color:#ff0000;color:#fff;{% elif subvencion.fin|daysuntil == 'passed days' %}background-color:{{ subvencion.estado.font_color }};{% else %}background-color:#fff;{% endif %}">
                                    <div class="fechaInicio date-end">{{ subvencion.fin|date:"d/m/Y" }}</div>
                                    <div class="estadoBloque estado">{{ subvencion.estado }}</div>
                                    <div class="responsables">
                                        {% for responsable in subvencion.responsable.all %}
                                            <span class="badge badge-pill badge-inverse" tabindex="0" data-toggle="popover" data-trigger="hover" data-content="{{ responsable.username }}">
                                                <a style="color:inherit;" href="{% url 'subvenciones:subvencion_by_category' estado_slug=responsable.username %}">{{ responsable|split_value }}</a>
                                            </span>
                                        {% endfor %}
                                    </div>
                                    <div class="cuantia"><i class="fas fa-dollar-sign"></i> {% if subvencion.cuantia_inicial %}{{ subvencion.cuantia_inicial|safe }}{% endif %}</div>
                                    <div class="cuantia"><i class="fas fa-euro-sign"></i> {% if subvencion.cuantia_final %}{{ subvencion.cuantia_final|safe }}{% endif %}</div>
                                </td>
                                <td class="td4">
                                    <!-- Comentarios -->
                                    {% for comment in subvencion.comments.all %}
                                        <span class="comment_user_date">{{ comment.user.username }}: {{ comment.created|date:"d/m/Y" }}</span>:
                                        {{ comment.contenido|safe_markdown }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if request.path == '/subvenciones/' %}
                    <h2>No tiene subvenciones asignadas.</a></h2>
                {% else %}
                    <h2>No tiene subvenciones favoritas.</h2>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block addscript %}
    <!-- Sorting datatimes in datatables -->
    <!--
        https://datatables.net/blog/2014-12-18
        Datatables plugin for sorting dates in the table
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="{% static 'subvenciones/js/datetime-moment.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/dataTables.buttons.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.flash.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.bootstrap4.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.colVis.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.foundation.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.html5.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.jqueryui.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.print.js' %}"></script>
    <script src="{% static 'home/datatables/Buttons-1.5.1/js/buttons.semanticui.js' %}"></script>
    <script src="{% static 'home/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'home/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'home/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'subvenciones/js/base.js' %}"></script>
{% endblock %}