{% load staticfiles %}
{% load martortags %}
{% load tags %}
    <div class="row align-items-center subv-table-row">
        <div class="col-12 nopadding">

            {% if subvencion %}
                <table id="subv_table_ordering" class="table" width="100%">
                    <thead class="thead-subv-table">
                        <tr class="table-active">
                            <th>Fecha publicación</th>
                            <th>Nombre y descripción</th>
                            <th>Vencimiento</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="td1 {% if subvencion.ente.id == 1 %}diputacion{% elif subvencion.ente.id == 2 %}conselleria{% else %}gobierno{% endif %}">
                                <div class="bloque01">
                                    {% if subvencion.fecha_publicacion %}<div class="fechaInicio">{{ subvencion.fecha_publicacion|date:"d/m/Y" }}</div>{% endif %}
                                    <div class="colectivo">
                                        <ul>
                                            {% for colectivo in colectivos %}
                                                {% if colectivo in subvencion.colectivo.all %}
                                                        <li>{{ colectivo }}</li>
                                                {% else %}
                                                    <li class="apagado">{{ colectivo }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="departamento depart{{ subvencion.area.id }}">
                                    {{ subvencion.area }}
                                </div>
                                <div class="repositorios">
                                    <div class="drive"><i class="fab fa-google-drive"></i>
                                        {% if not subvencion.drive %}
                                        {% else %}
                                            <a href="{{ subvencion.drive }}" target="_blank">{% if subvencion.nombre_carpeta_drive %}{{ subvencion.nombre_carpeta_drive }}{% else %}Drive{% endif %}</a>
                                        {% endif %}
                                    </div>
                                    <div class="gestiona" style="overflow: hidden;">
                                        <i class="fas fa-university"></i> {% if not subvencion.gestiona_expediente %}{% else %}<a href="{{ subvencion.gestiona_expediente }}" target="_blank">{{ subvencion.gestiona_expediente }}</a>{% endif %}
                                    </div>
                                </div>
                            </td>
                            <td class="td2">
                                <b>
                                    <a href="{{ subvencion.get_absolute_url }}" target="_blank">
                                        {{ subvencion.nombre|safe }}
                                    </a>
                                </b>
                                <br />
                                {{ subvencion.descripcion|safe }}
                            </td>
                            <td class="td3" style="{% if subvencion.fin|daysuntil in days_until_estado %}background-color:#ff0000;color:#fff;{% elif subvencion.estado.id == 4 %}background-color:#ff0000;color:#fff;{% elif subvencion.estado.id == 8 %}background-color:#ff0000;color:#fff;{% elif subvencion.estado.id == 9 %}background-color:#ff0000;color:#fff;{% endif %}">
                                {% if subvencion.fin %}<div class="fechaInicio date-end">{{ subvencion.fin|date:"d/m/Y" }}</div>{% endif %}
                                <div class="estadoBloque estado">{{ subvencion.estado }}</div>
                                <div class="responsables">
                                    {% for responsable in subvencion.responsable.all %}
                                        <span class="badge badge-pill badge-inverse" tabindex="0" data-toggle="popover" data-trigger="hover" data-content="{{ responsable.first_name }}">
                                            {{ responsable|split_value }}
                                        </span>
                                    {% endfor %}
                                </div>
                                <div class="cuantia"><i class="fas fa-dollar-sign"></i> {% if subvencion.cuantia_inicial %}{{ subvencion.cuantia_inicial|safe }}{% endif %}</div>
                                <div class="cuantia"><i class="fas fa-euro-sign"></i> {% if subvencion.cuantia_final %}{{ subvencion.cuantia_final|safe }}{% endif %}</div>
                            </td>
                            <td class="td4">
                                <!-- Comentarios -->
                                {% for comment in subvencion.comments.all %}
                                    <span class="comment_user_date">{{ comment.user.first_name }}: {{ comment.created|date:"d/m/Y" }}</span>:
                                    {{ comment.contenido|safe_markdown }}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                {% if request.path == '/subvenciones/' %}
                    <h2>No tiene subvenciones asignadas.</h2>
                {% else %}
                    <h2>No tiene subvenciones favoritas.</h2>
                {% endif %}
            {% endif %}
        </div>
    </div>