/* Variables */
/* Body */
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  /* Login */ }
  body .home_container {
    height: 100%;
    margin: 0;
    padding: 0; }
  body .login {
    font-family: "proxima-nova";
    padding: 0;
    margin: 0;
    height: 100%;
    background: #0069ff;
    /* Errors */
    /* Login form */
    /* Login Footer */ }
    body .login ul.notice {
      background-color: #EDE04D;
      color: #212200;
      margin: 0;
      border: 0;
      width: 100%;
      text-align: center;
      list-style-position: inside;
      list-style: none;
      font-weight: 600;
      font-size: 15px;
      padding: 10px; }
    body .login ul.notice li {
      padding: 5px 0; }
    body .login .tar_logo {
      display: block;
      height: 150px;
      padding-top: 20px;
      margin: 0 auto 28px; }
    body .login .login * {
      box-sizing: border-box;
      font-family: "proxima-nova", helvetica; }
    body .login .vertical-form.sign-in, body .login .vertical-form.register {
      padding-bottom: 20px; }
    body .login .vertical-form {
      margin: 0 auto;
      width: 470px;
      padding: 40px;
      border-radius: 3px;
      background: white;
      /* Input user name and password */
      /* Button Log In */
      /* Forgot Password */ }
      body .login .vertical-form #user_name, body .login .vertical-form #user_password {
        background: #fcfcfc;
        border: 2px solid #e7e7e7;
        margin: 20px auto;
        padding: 15px;
        width: 100%;
        display: block;
        border-radius: 3px;
        font-size: 18px;
        transition: opacity 0.4s;
        text-align: left;
        height: auto;
        -webkit-appearance: none; }
      body .login .vertical-form .login_form_submit_button {
        color: white;
        background: #61bd4f;
        border: 0;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 0;
        height: auto;
        -webkit-appearance: none;
        transition: opacity 0.4s;
        padding: 15px;
        width: 100%;
        display: block;
        border-radius: 3px; }
        body .login .vertical-form .login_form_submit_button:hover {
          background-color: #0CB863;
          transition: background 0.1s; }
      body .login .vertical-form p a {
        color: #0069ff;
        text-decoration: none; }
    body .login .vertical-form legend {
      text-align: center;
      font-weight: 300;
      color: #444;
      margin: 0 auto 45px;
      font-size: 35px;
      line-height: 38px;
      text-transform: none;
      letter-spacing: 0; }
    body .login .footer {
      text-align: center;
      color: white;
      margin: 20px auto; }
      body .login .footer p {
        margin-bottom: 40px; }
      body .login .footer a {
        font-weight: 600;
        border: 0;
        padding: 0;
        color: #fff; }
        body .login .footer a:hover {
          color: #E7F1F9; }

/*# sourceMappingURL=base.css.map */
