html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: Open Sans, sans-serif; }

@media print {
  body {
    background-color: #fff; } }
a {
  color: #00b5e2;
  cursor: pointer;
  text-decoration: none; }

.home_container {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  vertical-align: baseline;
  /* Navbar custom */ }
  .home_container * {
    box-sizing: border-box; }
  .home_container a {
    color: #00b5e2; }
    .home_container a:hover {
      color: #00b5e2;
      text-decoration: underline; }
  .home_container img:not(:root) {
    overflow: hidden; }
  .home_container .login_content_logo {
    width: 40px;
    display: block;
    margin: auto auto 7px; }
  .home_container .auth-page_logotype {
    width: 120px;
    display: block;
    margin: auto auto 30px; }
  .home_container .login {
    min-height: 100vh;
    background-image: linear-gradient(to top, #000e40, #245160 50%, #2a7b97);
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    padding-bottom: 24px; }
  .home_container .login_content {
    width: 95%;
    margin: auto;
    max-width: 380px;
    text-align: center;
    padding-top: 55px; }
    .home_container .login_content a {
      color: #00b5e2; }
      .home_container .login_content a:hover {
        color: #00b5e2;
        text-decoration: underline; }
  .home_container .login_content_form {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 2.9em 2.5em 1.7em 2.5em; }
  .home_container .login_content_form .form_block_input {
    margin-bottom: 10px; }
  .home_container .login_content_form .form-block-inner-wrapper {
    display: flex;
    flex-direction: column-reverse; }
  .home_container .login_content_form input {
    width: 100%;
    border-radius: 3px;
    padding: .8em 1.1em;
    border: solid 1px #e6e6e6;
    font-size: 16px; }
  .home_container input[type="text"]:required, .home_container input[type="password"]:required {
    box-shadow: none; }
  .home_container input[type="text"]:focus, .home_container input[type="password"]:focus {
    border: solid 1px #00b5e2; }
  .home_container input[type="text"], .home_container input[type="password"] {
    height: auto;
    line-height: initial;
    background: #fff;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    transition: all .4s ease-out;
    outline: none;
    margin: 0; }
  .home_container input {
    position: relative;
    font-family: inherit; }
  .home_container .login_content_form_options {
    text-align: right;
    margin-bottom: 20px; }
  .home_container .login_btn {
    width: 100%;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 16px;
    text-transform: none;
    height: 50px;
    color: #fff;
    background: #00bb8f;
    border-radius: 3px;
    text-align: center;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    border: none;
    text-shadow: none;
    letter-spacing: 0; }
    .home_container .login_btn:hover {
      background: #00b088; }
  .home_container button {
    font-family: inherit;
    -webkit-appearance: button;
    overflow: visible;
    margin: 0; }
  .home_container .login_content_form_tos {
    color: #999;
    line-height: 18px;
    padding: 0 0 16px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px; }
  .home_container .login_content_form_signup_hint {
    color: #666; }
    .home_container .login_content_form_signup_hint a {
      margin-left: 5px; }
  .home_container h2, .home_container h3, .home_container h4, .home_container h5, .home_container h6, .home_container .h1, .home_container .h2, .home_container .h3, .home_container .h4, .home_container .h5, .home_container .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: inherit;
    color: inherit; }
  .home_container h3, .home_container .h3 {
    font-size: 24px; }
  .home_container h1, .home_container .h1, .home_container h2, .home_container .h2, .home_container h3, .home_container .h3 {
    margin-top: 20px;
    margin-bottom: 10px; }
  .home_container p {
    margin: 0 0 10px; }
  .home_container strong {
    font-weight: 600; }
  .home_container blockquote {
    border-left: 5px solid #eee; }
  .home_container ul {
    list-style: none;
    margin: 0; }
  .home_container .custom-home-navbar--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500; }
  .home_container .custom-home-navbar {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(285deg, #006080, #006181 47%, #003648);
    box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.2), 0 1px 3px 0 rgba(51, 51, 51, 0.2); }
  .home_container .custom-home-navbar__left {
    display: flex;
    align-items: center; }
  .home_container .custom-home-navbar__right {
    display: flex;
    align-items: center; }
  .home_container .custom-home-navbar__logo {
    display: flex;
    align-items: center;
    margin-left: 20px; }
  .home_container .custom-home-navbar__logo__img {
    height: 20px; }
  .home_container .custom-home-navbar__menus {
    align-items: center;
    padding: 0;
    margin-left: 14px;
    height: 100%; }
  .home_container .custom-home-navbar__right > div {
    height: 100%; }

/* Login Errors */
ul.notice {
  background-color: #EDE04D;
  color: #212200;
  margin: 0;
  border: 0;
  width: 100%;
  text-align: center;
  list-style-position: inside;
  list-style: none;
  font-weight: 600;
  font-size: 15px;
  padding: 10px; }

ul.notice li {
  padding: 5px 0; }

/* Terms and privacy */
.main.rights-tarbena {
  display: block;
  height: 100%;
  background-color: #e9eaec;
  padding-top: 50px; }

.content.rights-tarbena {
  margin: 35px auto 80px auto;
  width: 90%;
  max-width: 1070px;
  line-height: 24px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #5f6366;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 0px #ddd;
  background: #fff;
  padding: 20px; }

.title.rights-tarbena {
  font-weight: 600;
  color: #073648; }

.privacy-ref.rights-tarbena {
  font-size: 14px; }

.md.rights-tarbena blockquote {
  border-style: none;
  font-size: 14px;
  padding: 0 0 0 40px;
  margin-bottom: 10px; }

.md.rights-tarbena ul {
  margin-bottom: 10px; }

.md.rights-tarbena > ul {
  padding-left: 65px; }

.md.rights-tarbena li {
  list-style-type: disc; }

.md.rights-tarbena li p {
  margin-bottom: 0px; }

.rights-tarbena.md h1, .rights-tarbena.md h2, .rights-tarbena.md h3, .rights-tarbena.md h4 {
  color: #073648; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Custom Navbar */
ul.custom-home-navbar__left__ul {
  list-style: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
  margin: 0; }

ul.custom-home-navbar__left__ul a {
  text-decoration: none; }

ul.custom-home-navbar__left__ul li {
  list-style: none;
  margin: 0; }

.menu.custom-home-navbar__li {
  position: relative;
  height: 100%;
  font-size: 14px; }

.menu.custom-home-navbar__li > a.custom-home-navbar__li__anchor {
  height: 100%;
  display: flex;
  padding: 23px 16px 22px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #ffffff;
  font-weight: normal; }

.menu.custom-home-navbar__li > a.custom-home-navbar__li__anchor span {
  margin-left: 4px; }

span.custom-home-navbar__li__anchor__span {
  display: inline-flex; }

span.custom-home-navbar__li__anchor__span i {
  width: 14px;
  height: 14px;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=base.css.map */
