{% load staticfiles %}
<div>
    <span style="font-size:0;"></span>
    <div class="custom-home-navbar custom-home-navbar--fixed">
        <div class="custom-home-navbar__left">
            <a href="{% url 'index' %}" class="custom-home-navbar__logo">
                <div class="header-menu__logo" style="background-image: url({% static 'home/img/favicon/submarca-Tragsa_fondoBlanco.png' %})"></div>
            </a>
            <div class="custom-home-navbar__menus">
                <ul class="custom-home-navbar__left__ul">
                    {% if request.user.is_authenticated %}
                        <!--<li class="custom-home-navbar__li menu">
                            <a href="#" class="custom-home-navbar__li__anchor"></a>
                        </li>-->
                        <li class="custom-home-navbar__li menu">
                            <p class="navbar-text" style="margin: 0;color: #fff;margin-left:10px;">Bienvenido, {{ request.user.username }}</p>
                        </li>
                        {% if request.user.is_superuser %}
                            <li class="custom-home-navbar__li menu">
                                <a href="{% url 'admin:index' %}" class="navbar-text" style="margin: 0;color: #fff;margin-left:10px;">Panel</a>
                            </li>
                        {% endif %}
                        <li class="custom-home-navbar__li menu">
                            <a href="{% url 'profiles:user_profile' username=user.username %}" class="navbar-text" style="margin: 0;color: #fff;margin-left:10px;display:none;">Mi perfil</a>
                        </li>
                        <li class="custom-home-navbar__li menu">
                            <a href="{% url 'logout' %}" class="navbar-text" style="margin: 0;color: #fff;margin-left:10px;display:none;">Salir</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="custom-home-navbar__right">
            <div>
                {% if request.user.is_authenticated %}
                    <div class="custom-home-navbar__user_avatar">
                        <div>
                            <div class="custom-home-navbar__avatar">
                                <div class="custom__navbar__avatar avatar__img">
                                    {% if user.profile.avatar %}
                                        <img src="{{ user.profile.avatar.url }}" alt="User Image" class="custom_navbar_avatar__img" />
                                    {% else %}
                                        <img src="{% static 'home/img/avatar/default.png' %}" alt="User Image" class="custom_navbar_avatar__img" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="custom_navbar__avatar__dropdown custom_navbar__avatar__dropdown--hide">
                                <a href="{% url 'profiles:user_profile' username=user.username %}" class="custom_navbar__avatar_box__link">
                                    Mi perfil
                                    <i class="fa fa-user"></i>
                                </a>
                                <a href="{% url 'logout' %}" class="custom_navbar__avatar_box__link">
                                    Salir
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="custom-home-navbar__menus_toogle">
                    <a href="#" class="setting-dropdown-icon">
                        <span></span>
                    </a>
                </div>
                <div class="custom-home-navbar__menus__links">
                    {% if request.user.is_authenticated %}
                    {% else %}
                    <a href="{% url 'register' %}" class="custom-home-navbar__menus__link">REGÍSTRATE</a>
                    <a href="{% url 'login' %}" class="custom-home-navbar__menus__link">ENTRA</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>