{% load staticfiles %}
<div>
    <span style="font-size:0;"></span>
    <div class="custom-home-navbar custom-home-navbar--fixed">
        <div class="custom-home-navbar__left">
            <a href="{% url 'index' %}" class="custom-home-navbar__logo">
                <img class="custom-home-navbar__logo__img" src="{% static 'home/img/favicon/login/logoTarbenaSubvencionesicon.png' %}" alt="Tarbena logo">
            </a>
            <div class="custom-home-navbar__menus">
                <ul class="custom-home-navbar__left__ul">
                    {% if request.user.is_authenticated %}
                        <li class="custom-home-navbar__li menu">
                            <a href="{% url 'subvenciones:index' %}" class="custom-home-navbar__li__anchor">Subvenciones</a>
                        </li>
                        <li class="custom-home-navbar__li menu">
                            <a href="{% url 'parcelas:index' %}" class="custom-home-navbar__li__anchor">Parcelas</a>
                        </li>
                        <li class="custom-home-navbar__li menu">
                            <a href="#" class="custom-home-navbar__li__anchor">Llaves</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="custom-home-navbar__right">
            <div>
                <div class="custom-home-navbar__menus_toogle">
                    <a href="#" class="setting-dropdown-icon">
                        <span></span>
                    </a>
                </div>
                <div class="custom-home-navbar__menus__links">
                    {% if request.user.is_authenticated %}
                    {% else %}
                    <a href="{% url 'register' %}" class="custom-home-navbar__menus__link">REGÍSTRATE</a>
                    <a href="{% url 'login' %}" class="custom-home-navbar__menus__link">ENTRA</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>