{% load staticfiles %}
<div>
    <span style="font-size:0;"></span>
    <div class="custom-home-navbar custom-home-navbar--fixed">
        <div class="custom-home-navbar__left">
            <a href="{% url 'index' %}" class="custom-home-navbar__logo">
                <img class="custom-home-navbar__logo__img" src="{% static 'home/img/favicon/logoTarbenaSubvencionesicon.png' %}" alt="Tarbena logo">
            </a>
            <div class="custom-home-navbar__menus">
                <ul class="custom-home-navbar__left__ul">
                    {% if request.user.is_authenticated %}
                        <li class="custom-home-navbar__li menu">
                            <a href="{% url 'subvenciones:index' %}" class="custom-home-navbar__li__anchor">Subvenciones</a>
                        </li>
                        <li class="custom-home-navbar__li menu">
                            <a href="#" class="custom-home-navbar__li__anchor">Parcelas</a>
                        </li>
                        <li class="custom-home-navbar__li menu">
                            <a href="#" class="custom-home-navbar__li__anchor">Llaves</a>
                        </li>
                    {% else %}
                        <li class="custom-home-navbar__li menu">
                            <a href="{% url 'login' %}" class="custom-home-navbar__li__anchor">Entra</a>
                        </li>
                        <li class="custom-home-navbar__li menu">
                            <a href="{% url 'register' %}" class="custom-home-navbar__li__anchor">Regístrate</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>