@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.home_container {
  .user-profile {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    background: #fff;
  }

  .user-profile__info-block {
    position: relative;
    z-index: 3;

    .info-block__avatar {
      position: relative;
      display: inline-block;

      .form-block__filepicker {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;

        a {
          color: #fff;
          &:hover { color:#fff; text-decoration: none; }
        }
      }

      .form-block__filepicker-preview {
        width: 140px;
        height: 140px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .form-block__filepicker-input--minimize, .form-block__filepicker-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        color: #fff;
        border: none;
        padding: 0;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
      .form-block__filepicker-input--minimize:before, .form-block__filepicker-input:before {
        font-family: FontAwesome;
        content: "\f030";
        display: inline-block;
        margin-right: 5px;
      }
    }

    .info-block__name-group {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 7px;

      .info-block__name_user__text {
        display: inline-block;
        position: relative;
        min-width: 340px;
        border-bottom: solid 1px transparent;
        padding: 20px 40px 8px;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.07;
        color: #fff;
      }
    }
  }

  .user-profile__info-block__background-group {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .user-profile__info-block__background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
  }

  .user-profile__info-block__mask {
    width: 100%;
    height: 100%;
    background: #005774;
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
  }

  .user-profile__info-block__content {
    padding: 120px 0 80px;
    text-align: center;
    position: relative;
    z-index: 1;
    max-width: 860px;
    margin: auto;
  }

  .user_profile_avatar__form {
    .user_profile_avatar__div_submit {
      align-items: center;
    }
    .btn_update_user_avatar {
      color: #fff;
      background: #009fc6;
      border-radius: 3px;
      text-align: center;
      outline: none;
      cursor: pointer;
      font-size: 1em;
      line-height: 1;
      border: none;
      text-transform: capitalize;
      text-shadow: none;
      letter-spacing: 0;
      padding: 10px 20px;
      display: inline-flex;

      &:hover {
        background-color: #0088c6;
      }
    }
  }

  .user-profile__content-background {
    background: #f3f3f3;
    min-height: calc(100vh - 52px);
  }
  .user-profile__content {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding-bottom: 50px;
    min-width: 620px;
  }
  @media (max-width: 640px) {
    .user-profile__content {
      width: 95%;
      min-width: 200px;
    }
  }
  .user_profile__section-header {
    display: flex;
    padding: 30px 0 0 0;
    align-items: center;
    width: 100%;
  }
  .section-header__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: .9px;
    color: #333;
    padding-bottom: 20px;
  }
  .section-header__right {
    flex: 1;
    text-align: right;
  }
  .user-profile__edit-btn:first-child {
    margin-left: 0;
  }
  .user-profile__edit-btn {
    color: #00b5e2;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 20px;
    display: inline-block;

    &:hover { text-decoration: none; }
    i {
      font-size: 14px;
      margin-right: 8px;
    }
  }

  .user_profile__section-panel {
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #e5eaea;
    position: relative;
  }
  .user_profile__profile__data-content {
    padding: 20px 30px 20px 30px;
    color: #555;
    font-size: 15px;
    line-height: 1.6;

    .user_profile__list-data .user_profile__list-item {
      border-bottom: 1px solid rgba(0,0,0,.05);
      list-style: none;
      border-top: 1px solid rgba(255,255,255,.2);
      padding: 40px 0 35px;
      display: flex!important;
      -webkit-box-align: center!important;
      align-items: center!important;

      .user_profile__list-flex {
        -webkit-box-flex: 1;
        flex: 1 1 auto;

        .user_profile__list-h3 {
          font-weight: 600!important;
          font-size: 21px!important;
          line-height: 24px!important;
          transform: translateY(-1.88px);
          letter-spacing: -.29px!important;
          color: rgba(0,0,0,.84)!important;
          fill: rgba(0,0,0,.84)!important;
        }
        .user_profile__list-input {
          font-weight: 400!important;
          font-style: normal!important;
          letter-spacing: 0!important;
          font-size: 16px!important;
          line-height: 20px!important;
          transform: translateY(1.52px);
          color: rgba(0,0,0,.76)!important;
          fill: rgba(0,0,0,.76)!important;
          max-width: 400px!important;

          .user_profile__list-input__email {
            cursor: default;
            display: block;
            font-size: 17px;
            border: none;
            letter-spacing: 0;
            font-weight: 400;
            font-style: normal;
            color: rgba(0,0,0,.84)!important;
            fill: rgba(0,0,0,.84)!important;
          }
        }
      }
    }
  }

  .user-profile__section-panel__empty-case {
    padding: 22px 30px;
    display: flex;
  }
  .user-profile__section-panel__empty-case.user_profile__section-panel {
    padding-bottom: 0!important;
  }

  .user-profile__data-btn-delete {
    padding: 20px 30px 20px 30px;
    display: flex;
    align-items: center;

    .settings__account-delete-btn {
      padding: 10px 20px;
      margin-right: 15px;
      display: inline-flex;
      background: transparent;
      color: #ff7142;
      border: 1px solid #ff7142;
      border-radius: 3px;
      font-weight: 600;
      text-shadow: none;
      box-shadow: none;
      text-align: center;
      outline: none;
      cursor: pointer;
      font-size: 1em;
      line-height: 1;
      text-transform: capitalize;
      letter-spacing: 0;
    }
  }
}

.fa-times:before {
  content: "\f00d";
}