/*** Body ***/
/************/
body {
  font: {
    size: 0.75em;
  }

  #map_canvas {
    height: 100%;
    width: 100%;
    top : 0; left : 0; position : absolute; z-index : 200;
  }

  .actions_parcels {
    position : absolute; z-index : 300; left: 30px; top: 50px;

    // Button for panel collapse
    .accordion_for_card {
      display: inline-block;
      color: #fff!important;
      background-color: #42abe5!important;
      font-size: 14px!important;
      border: none;
      padding: 8px 16px;
      vertical-align: middle;
      overflow: hidden;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      border-radius: 50%;
    }

    /*** GEOLOCATIONS ***/
    #preloader{
      display: block;
      width: 50px;
      height: 35px;
      cursor: pointer;
    }
    /********************/

    #card {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;
      line-height: 10px;
    }

    .collapse {
      visibility: hidden;
    }
    .collapse.show {
      visibility: visible;
      display: block;
    }
    .collapsing {
      position: relative;
      height: 0;
      overflow: hidden;
      -webkit-transition-property: height, visibility;
      transition-property: height, visibility;
      -webkit-transition-duration: 0.35s;
      transition-duration: 0.35s;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
    }
    .collapsing.width {
      -webkit-transition-property: width, visibility;
      transition-property: width, visibility;
      width: 0;
      height: auto;
    }

    // Div for checking parcel with his number and number of poligon
    .form-check-parcel {
      text-align: center;
      font: { size: 0.8rem; }
      margin: {
        top: 10px;
        bottom: 10px;
      }

      input { width: 50px; }
      button { display: inline-block; }
    }

    // Div for add new data to table: projects, sectors and parcels
    .add_new_data {
      margin: {
        top: 10px;
        bottom: 10px;
      }
      text-align: center;
      a {
        color: #000;
        text-decoration: none;
        cursor: context-menu;
      }
    }

    // Accordion
    .card {
      font-size: 0.8rem!important;
      display: none;
      overflow: hidden;

      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          text-align: left;
        }
      }

      .card-header {
        height: 480px;
        overflow: auto;

        li {
          list-style-type: none;
        }
      }
    }
  }
}

/* ADD PARCELAS TABLE */
.modal-dialog {
    font-size: 0.75rem!important;
}

.title-create_post label {
    display: inline-block;
    font-weight: normal;
    color: #000;
    margin-bottom: 0;
    font-size: 0.8rem;
}

/* Select for display text autocompletion propietario */
#select2-id_propietario-container {
    font-size: 0.8rem;
    margin-top: -7px;
    font-weight: 400;
}

/* Anchors inside the table where I display parcelas */
a.project-name, a.sector-name {
    margin: 10px 0;
    display: block;
}

a.modify_parcela_anchor, a.modify_propietario_anchor {
    color: #000;

    &:hover {
        color: #000;
    }
}

/* Span for total count parcelas  */
span.total_count_parcelas {
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

/* New Panel Sidebar for Parcelas */
.widget {
    z-index: 500;
    border-bottom-right-radius: 13px;
}
.widget > a {
    color: #fff;
    &:hover { color: #fff; }
}
.widget .button.collapse i {
    line-height: 26px;
    width: 100%;
    display: block;
    text-align: center;
}
.fa-globe:before {
    content: "\f0ac";
}
.widget .button.collapse:after {
    display: block;
    width: 100%;
    content: "\00BB";
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
}
.widget .button.collapse.in:after {
    content: "\00AB";
}
.widget .button.collapse {
    display: block;
    position: relative;
    overflow: hidden;
    width: 32px;
    padding: 2px;
    margin-left: -1px;
    background: rgba(75,75,75,0.75);
    border: 1px solid #AFAFAF;
    z-index: 1;
    text-decoration: none;
    float: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
}
.widget-panel {
    padding: 9px 9px 11px 9px;
    min-width: 285px;
    background-color: rgba(75,75,75,0.75);
    border: 1px solid #AFAFAF;
    user-select: none;
    overflow: hidden;
    color: #f2f2f2;
    float: left;
}
.widget-header {
    margin-bottom: 3px;
    position: relative;
    display: block;

    .breadcrumb li {
        color: #F2F2F2;
        margin-bottom: 0;
        margin-top: 0;
    }
}
.widget-panel .widget-body {
    overflow-y: auto;
    overflow-x: hidden;
}
.widget-header__breadcrumb {
    font-size: 11px;
    font-weight: bold;
}
.widget-panel .fieldset {
    width: 100%;
}
.fieldset {
    position: relative;
    margin: 3px 0;
}
.fieldset a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.fieldset .legend {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    font-size: 1em;
    font-weight: 600;
}
.accordion-toggle {
    color: #FFF!important;
}
.accordion-toggle:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFF;
    border-right: 0;
}
.anchor_autorizacion_parcelas {
    color: #757574;
    &:hover {
        color: #525252;
    }
}
.widget-header__breadcrumb a {
    color: #f2f2f2;
    &:hover { color:#ffffff; }
}
.widget-header__breadcrumb a.active {
    text-decoration: underline;
}
.form-check-parcel {
    margin-top: 40px;
    font-size: 12px;
}
.add_new_data {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;

    a {
        color: #000;
        &:hover { color: #000; text-decoration:none; }
    }
}
.tr-table-aprobado {
    background-color: #c3e6cb;
}
.tr-table-noaceptado {
    background-color: #ff8787;
}
.tr-table-intermedio {
    background-color: #cccc0061;
}