{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ ninventario }}
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}


{% block content %}
    <div class="container" style="margin-top:100px;">
        <div class="row justify-content-md-center">
        <div class="col-lg-4 col-xs-12">



                <table width="80%" class="text-center menuDetalles" style="text-align: center;">
                    <tr class="lineaTR">

                        <td>

                            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
                    {% if form.errors %}
                        <div class="ag_form_login_message_error">
                            {% for field,error in form.errors.items %}
                                {{ field|capfirst }} - {{ error|striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="row with-margin">{{ form.tipo_incidencias }}</div>
                    <div class="row with-margin">


                    </div>



                    <div class="row with-margin">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text custom-control custom-switch">
                                    {{ form.cerrado }}
                                    <label for="id_cerrado">cerrado</label>
                                </div>
                                <div class="input-group-text custom-control custom-switch">
                                    {{ form.taller }}
                                    <label for="id_taller">taller</label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row with-margin">
                        <input type="hidden" name="fecha" value="10/06/2019">
                        <input type="submit" value="Consultar componente" class="btn btn-primary"/>
                    </div>
                    <div>
                        {% for m in mantenimiento_maquinaria %}
                        {{ m.fecha_movimiento }<br>

                        {% endfor %}

                    </div>
                </form>

                        </td>
                    </tr>
                </table>

            </div>
        <div class="col-lg-8">
            <h2>COMPONENTES | <input id="myInput" type="text" placeholder=""></h2>
            <table class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>C</th>
                        <th>T</th>
                        <th>#</th>
                        <th>Tipo Incidencia</th>
                        <th># inventario</th>
                        <th>Fecha</th>
                        <th>Comentario</th>
                        <th>Mantenimientos</th>
                    </tr>
                </thead>
                <tbody id="tablaHome">
<!-- Mis Maquinas -->
                <tr><td colspan="8"><h3>Últimas incidencias</h3></td></tr>



                    {% for i in incidencias %}
                <tr>
                        <td>
                            {% if i.cerrado == False %}
                                <i class="fas fa-exclamation-triangle" style="color: red"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if i.taller == True %}
                                <i class="fas fa-tools" style="color: red"></i>
                            {% endif %}
                        </td>
                        <td><a href="/panel/UPR/incidencias/{{ i.id }}/change/" target="_blank">{{ i.pk }}</a></td>
                        <td>{{ i.tipo_incidencias }}</td>
                        <td>{{ i.maquina.numero_inventario }}</td>
                        <td>
                            <small>{{ i.fecha }} {% if i.fechaCerrado != None %}<br> <span style="color: lime">{{ i.fechaCerrado }}</span>{% endif %}</small></td>
                        <td>{{ i.comentario }}</td>
                        <td style="width: 10%">
                            {% if i.mantenimientos != None %}
                            <small>{{ i.mantenimientos }}</small>
                            {% endif %}
                        </td>
</tr>
            {% endfor %}
            <tr>
                <td colspan="8">total incidencias: <b>{{ nIncidencias }}</b></td>
            </tr>


        </div>
    </div>
<div>



</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tablaHome tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    $('#id_cerrado').prop('checked', false);
    $("#id_tipo_incidencias option:first").val('1');

    });
</script>
{% endblock %}
