{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ ninventario }}
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-xs-12">
                <h3>{{ maquina.tipo_maquina}}</h3>
                <div><a href="/panel/UPR/maquina/{{ maquina.id }}/change/" target="_blank"><i class="far fa-edit"></i></a> | <a href="{% url 'upr:add_incidencia' ninventario=maquina.numero_inventario %}"><i class="fas fa-tools"></i></a></div>
                <h3 class="display-4"><small class="text-muted" style="font-size: 25%;">número inventario: </small><br>{{ maquina.numero_inventario }}</h3>

                <table width="100%" class="text-right menuDetalles">
                    <tr class="lineaTR">
                        <td width="50%">NÚMERO SERIE:</td>
                        <td>{{ maquina.numero_serie }}</td>
                    </tr>
                    <tr class="lineaTR">
                        <td>FECHA COMPRA:</td>
                        <td>{{ maquina.fecha_compra}}</td>
                    </tr>
                    <tr class="lineaTR">
                        <td>CAPATAZ RESPONSABLE:</td>
                        <td>{{ maquina.capataz_responsable}}</td>
                    </tr>
                </table>
<!-- Ubicación y Obra -->
                <table class="text-right menuDetalles" style="margin-top: 50px; width: 100%;">
                    <tr class="lineaTR" style="boder-top: 5px solid">
                        <td valign="top"><a href="{% url 'upr:add_ubicacion' ninventario=maquina.numero_inventario %}"><i class="fas fa-map-marker-alt"></i></a> UBICACIÓN:</td>
                        <td align="right">
                            {% for n in movimientos %}
                                {{ n.poblacion_mm }} <small>{{ n.fecha_movimiento }}</small>
                            {% endfor %}
                        </td>
                    </tr>
                     <tr class="lineaTR">
                        <td valign="top"><a href="/panel/UPR/maquina/{{ maquina.id }}/change/" target="_blank"><i class="far fa-clipboard"></i></a> OBRA:</td>
                        <td align="right">
                            {% for o in movimientosObra %}
                            {{ o.nombre_obra }}<small> {{ o.fecha_movimiento }}</small>
                            {% endfor %}
                        </td>


                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div  class="col-lg-8 col-xs-12">
                <h2>INCIDENCIAS | <input id="myInput" type="text" placeholder=""></h2>
<!-- mensaje de confirmación / error cuando se envia la incidencia -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}

                <table class="table table-striped" id="tablaHome">
                    <thead>
                        <tr>
                            <th scope="col">Componente</th>
                            <th scope="col">Incidencias</th>
                        </tr>
                    </thead>
                    <tbody>
<!-- aqui empezamos a listar las incidencias -->
                    {% for i in incidencias %}
                        <tr>
                            <td style="width: 40%">
                                {{ i.tipo_incidencias }}
                                <small class="componente">{{ i.tipo_incidencias.grupo_componentes }}</small>
                            </td>
                            <td class="group_component">

                                    <div class="fecha">
                                        <a href="/panel/UPR/incidencias/{{ i.id }}/change/" target="_blank">{{ i.fecha }}</a>
                                        {% if i.mantenimientos != None %}
                                            <small class="componente2">
                                                {{ i.mantenimientos }}
                                            </small>
                                        {% endif %}
                                        {% if i.cerrado == False %}
                                            <i class="fas fa-exclamation-triangle" style="color: red"></i>
                                        {% endif %}
                                    </div>
                                    {{ i.comentario }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div>



</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tablaHome tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}

<!--
    fecha: {{ a.fecha }} <br>
    comentario: {{ a.comentario }}
-->
