{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ ninventario }}
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            {{ maquina.numero_inventario }}
            {{ maquina.numero_serie }}

            <div>
                <h1>INCIDENCIAS</h1>
                {% for a in maquina.incidencias.all %}
                    {{ a.tipo_incidencias.tipo_componentes }}
                    {{ a.tipo_incidencias.tipo_componentes }}

                    {% for e in a.tipo_incidencias.tipo_maquina.all %}
                        {{ e.tipo }}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}