{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    GEPEMA - Crear incidencia
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-xs-12">
                <h3>{{ maquina.tipo_maquina}} <a href="/upr/maquina/{{ maquina.numero_inventario }}/"><i class="fas fa-arrow-circle-left"></i></a></h3>
                <div></div>
                <h3 class="display-4"><small class="text-muted" style="font-size: 25%;">número inventario: </small><br>{{ maquina.numero_inventario }}</h3>

                <script>

                </script>
            </div>
            <div class="col-lg-4 col-xs-12">
                <h2>AÑADIR INCIDENCIA</h2>
                <div class="form-group">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row with-margin">
                    <select id="selectGrupoComponentes" class="form-control">
                        <option value="0">-----</option>
                        {% for i in grupos_componentes %}
                            <option value="{{ i.pk }}">{{ i.tipo_grupo_componentes }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <!-- INCIDENCIAS FORM -->

                <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
                    {% if form.errors %}
                        <div class="ag_form_login_message_error">
                            {% for field,error in form.errors.items %}
                                {{ field|capfirst }} - {{ error|striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="row with-margin">{{ form.tipo_incidencias }}</div>
                    <div class="row with-margin">
                        {{ form.tipo_comentario }}
                    </div>
                    <div class="row with-margin" id="radioBotones">


                    </div>
                    <div class="row with-margin">{{ form.fecha }}</div>
                    <div class="row with-margin">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text custom-control custom-switch">
                                    {{ form.cerrado }}
                                    <label for="id_cerrado">cerrado</label>
                                </div>
                                <div class="input-group-text custom-control custom-switch">
                                    {{ form.taller }}
                                    <label for="id_taller">taller</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row with-margin">

                        {{ form.comentario }}

                        <input value="{{ maquina.numero_inventario }}" type="hidden" name="n_inventario" autocomplete="off" maxlength="6" id="id_n_inventario" >
                    </div>
                    <div class="row with-margin">{{ form.mantenimientos }}</div>
                    <div class="row with-margin">
                        <input type="submit" value="Crear incidencia" class="btn btn-primary"/>
                    </div>
                    <div>
                        {% for m in mantenimiento_maquinaria %}
                            {{ m.fecha_movimiento }<br>
                        {% endfor %}

                    </div>
                </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>

    // hacemos la función Change para que nos liste los distintos elementos de cada grupo de elementos.
        $(document).ready(function() {
            $('#selectGrupoComponentes').change(function() {
                var group_comp_id = $(this).val();
                var componentes_url = '{% url "upr:get_components_by_group" %}';
                $.ajax({
                    type: "GET",
                    url: componentes_url,
                    data: {
                        'grupo_comp_id': group_comp_id,
                    },
                    success: function (data) {
                        $('#id_tipo_incidencias').html('');
                        $('#id_tipo_incidencias').append('<option value="0">---</option>');
                        $.each(data, function(key, value){
                            var componente = value.fields['tipo_componentes'];
                            var componente_id = value.pk;
                            var comentario = value.fields['opciones_componente'][0];
                            $('#id_tipo_incidencias').append('<option value="' + componente_id + '">' + componente_id + '-' + componente + '</option>');
                        });
                    }
                });
            });

// para que aparezca el tipo_comentario en el textarea
            // cuando cambia el segundo select. el que lista los tipo componentes
            $('#id_tipo_incidencias').change(function() {
                var tipo_comentario_id = $(this).val();
                var tipo_comentario_url = '{% url "upr:get_components_by_tipo_comentario" %}';
                $.ajax({
                    type: "GET",
                    url: tipo_comentario_url,
                    data: {
                        'tipo_comentario_id': tipo_comentario_id,
                    },
                    success: function (data) {
                          $.each(data, function(key, value){
                            var comentario = value.fields['tipo_comentario'];                   // es la definición del componente, puede traer también una primera versión de los estados
                            var comentario_id = value.pk;
                            var opciones_componente = value.fields['opciones_componente'];      // estos son los estados que puede tener ese componente
                            // una vez hemos seleccionado el componente se listan los radio botones que son los estados en los que puede estar el componente
                            $('#radioBotones').html('elige opción: ');
                            var i;
                                for (i = 0; i < opciones_componente.length; i++) {
                                   $('#radioBotones').append('<div style="display: block; width: 100%"><input type="radio" id="estado_'+opciones_componente[i]+'" name="campo_componente" value="'+opciones_componente[i]+'"><label for="opciones_componente">'+opciones_componente[i]+'</label></div>');
                                }
                        });
                    }
                });
            });
        });
    </script>
    <script>
    $( function() {
        $( "#id_fecha" ).datepicker({ dateFormat: 'dd/mm/yy', firstDay: 1 });
        $('#id_fecha').blur();
    } );
    </script>
{% endblock %}