{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ ninventario }}
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-xs-12">
                <h3>{{ maquina.tipo_maquina}}</h3>
                <div></div>
                <h3 class="display-4"><small class="text-muted" style="font-size: 25%;">número inventario: </small><br>{{ maquina.numero_inventario }}</h3>
            </div>
            <div class="col-lg-8 col-xs-12">
                <h2>AÑADIR INCIDENCIA</h2>

       <!--         {%
class MyForm(forms.Form):
    CHOICES = (('Option 1', 'Option 1'),('Option 2', 'Option 2'),)
    field = forms.ChoiceField(choices=CHOICES)

print MyForm().as_p()

                %}
                -->
                <select id="selectGrupoComponentes">
                <option value="0"> </option>
                {% for i in grupos_componentes %}
                    <option value="{{ i.tipo_grupo_componentes.id }}">{{ i.tipo_grupo_componentes }}</option>
                {% endfor %}
                </select>

<hr>
                <!--
                {% for i in grupos_componentes %}
                    {{ i.tipo_grupo_componentes }} <br>

                {% endfor %}
                -->
                <hr>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script>
                $(document).ready(function() {
                    $('#selectGrupoComponentes').change(function() {
    mensaje = $(this).val()

console.log(mensaje);
if mensaje == 1 {

}

});
})

                </script>
                {% for c in componentes %}
                    {% if c.grupo_componentes.position_grupo_componentes == 1 %}
                    <div id="componentes_1">
                        soy componente1<br>
                        {{ c.id }} . {{ c.tipo_componentes }} <br>
                    </div>
                    {% endif %}
                {% if c.grupo_componentes.position_grupo_componentes == 2 %}
                    <div id="componentes_2">
                        soy componente2<br>
                        {{ c.id }} . {{ c.tipo_componentes }} <br>
                    </div>
                    {% endif %}
                {% if c.grupo_componentes.position_grupo_componentes == 3 %}
                    <div id="componentes_3">
                        soy componente3<br>
                        {{ c.id }} . {{ c.tipo_componentes }} <br>
                    </div>
                    {% endif %}
                {% endfor %}

                <hr>
hola
                <!-- Ente -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.grupocomponentes.label_tag }}
                            {{ form.grupocomponentes }}
                        </div>
hoal 2
                        <!-- Area -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.componentes.label_tag }}
                            {{ form.componentes }}
                        </div>
            </div>
        </div>
    </div>

{% endblock %}



<!--
    fecha: {{ a.fecha }} <br>
    comentario: {{ a.comentario }}
-->
