{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block title %}
    UPR - Alicante
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-4">
            menús
        </div>
        <div class="col-8">
            <table class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nº inventario</th>
                        <th>Tipo Máquina</th>
                        <th>Ubicación</th>
                        <th>Capataz responsable</th>
                    </tr>
                </thead>
                {% for o in maquinas %}
                <tr>
                    <td><a href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}">{{ o.numero_inventario }}</a></td>
                    <td>{{ o.tipo_maquina}}</td>
                    <td>Almacén Alicante</td>
                    <td>{{ o.capataz_responsable}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        </div>
    </div>



{% endblock %}