{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    Inicio - GEPEMA
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-xs-12">
                <h1 class="display-4"><small class="text-muted" style="font-size: 25%;">capataz: </small><br>{{request.user.last_name}}</h1>
                {% include 'UPR/snippets/navlinks.html' %}
            </div>
            <div class="col-lg-9 col-xs-12">
            <h2>INICIO | <input id="myInput" type="text" placeholder="buscar..."></h2>
            <table class="table table-striped" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th align="center">#</th>
                        <th>Maquina</th>
                        <th class="celdaTipoIncidencia">Ubicación y obra</th>
                        <th style="width: 50%">Incidencias abiertas</th>
                    </tr>
                </thead>
                <tbody id="tablaHome">
<!-- Mis Maquinas -->
                <tr><td colspan="7"><h3>Mis Máquinas</h3></td></tr>


                {% for o in maquinas %}
                <tr>
                    <td class="counter"> {{ forloop.counter }}</td>
                    <td class="text-right">
                        <a class="n_inventario" href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}">{{ o.numero_inventario }}</a><br>
                        <small class="byanddate">{{ o.tipo_maquina}}</small>
                    </td>

                    <td class="celdaTipoIncidencia">
                       <ul class="primeraPoblacion">
                          {% for maquina_poblacion in o.maquina_poblacion.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-map-marker-alt"></i>
                                {{ maquina_poblacion.poblacion_mm.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for obra in o.obra.all %}
                            {% if forloop.first %}
                              <li><i class="far fa-clipboard"></i> {{ obra.nombre_obra }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                    </td>
                    <td>
                        {% for incidencias in o.incidencias.all %}
                            {% if incidencias.cerrado == False %}
                                <small class="componente">{{ incidencias.fecha }}</small>
                                <i class="fas fa-tools" style="color: {% if incidencias.taller == True %}red{% else %}#ddd{% endif %}"></i> {{ incidencias.tipo_incidencias }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tablaHome tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}