{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}

{% block title %}
    UPR - Alicante
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-4">
            menús
        </div>
        <div class="col-8">
            <h2>MAQUINARIA | <input id="myInput" type="text" placeholder=""></h2>
            <table class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nº inventario</th>
                        <th>Tipo Máquina</th>
                        <th>Ubicación</th>
                        <th>Capataz responsable</th>
                        <th>avería</th>
                    </tr>
                </thead>
                <tbody id="tablaHome">
                {% for o in maquinas %}

                <tr>
                    <td><a href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}">{{ o.numero_inventario }}</a></td>
                    <td>{{ o.tipo_maquina}}</td>
                    <td>{{ o.poblacion}}</td>
                    <td>{{ o.capataz_responsable}}</td>
                    <td>{{ o.poblacion}}</td>
                    <td></td>
                </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>

        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tablaHome tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}