{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    Inventario máquinas - GEPEMA
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-xs-12">
                <h2 class="display-4"><small class="text-muted" style="font-size: 25%;">capataz: </small><br>{{request.user.last_name}}</h2>
                {% include 'UPR/snippets/resumenTotalMaquinas.html' %}
                {% include 'UPR/snippets/navlinks.html' %}
            </div>
            <div class="col-lg-9 col-xs-12">
            <h2>INVENTARIO MAQUINARIA | <input id="myInput" type="text" placeholder="buscar..."></h2>
            <table class="table table-striped" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th width="15%">Maquina</th>
                        <th width="25%">Ubicación y obra</th>
                        <th width="10%">Capataz</th>
                        <th width="50%">Avería</th>
                    </tr>
                </thead>
                <tbody id="tablaHome">


<!-- Husqvarna 555FRM -->
                <tr><td colspan="7"><h3><a name="Husqvarna555">Husqvarna 555FRM</a></h3></td></tr>
                {% for o in desbro %}
                <tr>
                    <td class="counter"> {{ forloop.counter }}</td>
                    <td class="text-right">
                        <a class="n_inventario" href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}" target="_blank">{{ o.numero_inventario }}</a>
                        <small class="byanddate">{{ o.tipo_maquina}}</small>
                        <small class="byanddate">{{ o.fecha_compra }}</small>
                    </td>
                    <td class="celdaTipoIncidencia">

                        <ul class="primeraPoblacion">
                          {% for pueblo_asignado in o.pueblo_asignado.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-building"></i>
                                {{ pueblo_asignado.nombre.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for maquina_poblacion in o.maquina_poblacion.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-map-marker-alt"></i>
                                {{ maquina_poblacion.poblacion_mm.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for obra in o.obra.all %}
                            {% if forloop.first %}
                              <li class="Obra_{{ obra.nombre_obra|truncatechars:7 }}"><i class="far fa-clipboard"></i> {{ obra.nombre_obra }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                    </td>
                    <td align="center">{{ o.capataz_responsable.last_name}}</td>
                    <td>
                        {% for incidencias in o.incidencias.all %}
                            {% if incidencias.cerrado == False %}
                                <small class="componente">{{ incidencias.fecha }}</small>
                                <i class="fas fa-tools" style="color: {% if incidencias.taller == True %}red{% else %}#ddd{% endif %}"></i> {{ incidencias.tipo_incidencias }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
<!-- stihl 241 -->
                <tr><td colspan="7"><h3><a name="Stihl241">Stihl 241</a></h3></td></tr>
                {% for o in moto241 %}
                <tr>
                    <td class="counter"> {{ forloop.counter }}</td>
                    <td class="text-right">
                        <a class="n_inventario" href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}" target="_blank">{{ o.numero_inventario }}</a>
                        <small class="byanddate">{{ o.tipo_maquina}}</small>
                        <small class="byanddate">{{ o.fecha_compra }}</small>
                    </td>
                    <td class="celdaTipoIncidencia">
                        <ul class="primeraPoblacion">
                          {% for pueblo_asignado in o.pueblo_asignado.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-building"></i>
                                {{ pueblo_asignado.nombre.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for maquina_poblacion in o.maquina_poblacion.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-map-marker-alt"></i>
                                {{ maquina_poblacion.poblacion_mm.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for obra in o.obra.all %}
                            {% if forloop.first %}
                              <li class="Obra_{{ obra.nombre_obra|truncatechars:7 }}"><i class="far fa-clipboard"></i> {{ obra.nombre_obra }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                    </td>
                    <td align="center">{{ o.capataz_responsable.last_name}}</td>
                    <td>
                        {% for incidencias in o.incidencias.all %}
                            {% if incidencias.cerrado == False %}
                                <small class="componente">{{ incidencias.fecha }}</small>
                                <i class="fas fa-tools" style="color: {% if incidencias.taller == True %}red{% else %}#ddd{% endif %}"></i> {{ incidencias.tipo_incidencias }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
<!-- stihl 261 -->
                <tr><td colspan="7"><h3><a name="Stihl261">Stihl 261</a></h3></td></tr>
                {% for o in moto261 %}
                <tr>
                    <td class="counter"> {{ forloop.counter }}</td>
                    <td class="text-right">
                        <a class="n_inventario" href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}" target="_blank">{{ o.numero_inventario }}</a>
                        <small class="byanddate">{{ o.tipo_maquina}}</small>
                        <small class="byanddate">{{ o.fecha_compra }}</small>
                    </td>
                    <td class="celdaTipoIncidencia">
                        <ul class="primeraPoblacion">
                          {% for pueblo_asignado in o.pueblo_asignado.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-building"></i>
                                {{ pueblo_asignado.nombre.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for maquina_poblacion in o.maquina_poblacion.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-map-marker-alt"></i>
                                {{ maquina_poblacion.poblacion_mm.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for obra in o.obra.all %}
                            {% if forloop.first %}
                              <li class="Obra_{{ obra.nombre_obra|truncatechars:7 }}"><i class="far fa-clipboard"></i> {{ obra.nombre_obra }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                    </td>
                    <td align="center">{{ o.capataz_responsable.last_name}}</td>
                    <td>
                        {% for incidencias in o.incidencias.all %}
                            {% if incidencias.cerrado == False %}
                                <small class="componente">{{ incidencias.fecha }}</small>
                                <i class="fas fa-tools" style="color: {% if incidencias.taller == True %}red{% else %}#ddd{% endif %}"></i> {{ incidencias.tipo_incidencias }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
<!-- husqvarna 555 -->
                <tr><td colspan="7"><h3><a name="husq555">Husqvarna 555xp</a></h3></td></tr>
                {% for o in motoH555 %}
                <tr>
                    <td class="counter"> {{ forloop.counter }}</td>
                    <td class="text-right">
                        <a class="n_inventario" href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}" target="_blank">{{ o.numero_inventario }}</a>
                        <small class="byanddate">{{ o.tipo_maquina}}</small>
                        <small class="byanddate">{{ o.fecha_compra }}</small>
                    </td>
                    <td class="celdaTipoIncidencia">
                        <ul class="primeraPoblacion">
                          {% for pueblo_asignado in o.pueblo_asignado.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-building"></i>
                                {{ pueblo_asignado.nombre.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for maquina_poblacion in o.maquina_poblacion.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-map-marker-alt"></i>
                                {{ maquina_poblacion.poblacion_mm.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for obra in o.obra.all %}
                            {% if forloop.first %}
                              <li class="Obra_{{ obra.nombre_obra|truncatechars:7 }}"><i class="far fa-clipboard"></i> {{ obra.nombre_obra }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                    </td>
                    <td align="center">{{ o.capataz_responsable.last_name}}</td>
                    <td>
                        {% for incidencias in o.incidencias.all %}
                            {% if incidencias.cerrado == False %}
                                <small class="componente">{{ incidencias.fecha }}</small>
                                <i class="fas fa-tools" style="color: {% if incidencias.taller == True %}red{% else %}#ddd{% endif %}"></i> {{ incidencias.tipo_incidencias }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
<!-- husqvarna 543 -->
                <tr><td colspan="7"><h3><a name="husq543">Husqvarna 543xp</a></h3></td></tr>
                {% for o in motoH543 %}
                <tr>
                    <td class="counter"> {{ forloop.counter }}</td>
                    <td class="text-right">
                        <a class="n_inventario" href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}" target="_blank">{{ o.numero_inventario }}</a>
                        <small class="byanddate">{{ o.tipo_maquina}}</small>
                        <small class="byanddate">{{ o.fecha_compra }}</small>
                    </td>
                    <td class="celdaTipoIncidencia">
                        <ul class="primeraPoblacion">
                          {% for pueblo_asignado in o.pueblo_asignado.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-building"></i>
                                {{ pueblo_asignado.nombre.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for maquina_poblacion in o.maquina_poblacion.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-map-marker-alt"></i>
                                {{ maquina_poblacion.poblacion_mm.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for obra in o.obra.all %}
                            {% if forloop.first %}
                              <li class="Obra_{{ obra.nombre_obra|truncatechars:7 }}"><i class="far fa-clipboard"></i> {{ obra.nombre_obra }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                    </td>
                    <td align="center">{{ o.capataz_responsable.last_name}}</td>
                    <td>
                        {% for incidencias in o.incidencias.all %}
                            {% if incidencias.cerrado == False %}
                                <small class="componente">{{ incidencias.fecha }}</small>
                                <i class="fas fa-tools" style="color: {% if incidencias.taller == True %}red{% else %}#ddd{% endif %}"></i> {{ incidencias.tipo_incidencias }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}

<!-- stihl 101 -->
                <tr><td colspan="7"><h3><a name="Stihl101">Stihl 101</a></h3></td></tr>
                {% for o in moto101 %}
                <tr>
                    <td class="counter"> {{ forloop.counter }}</td>
                    <td class="text-right">
                        <a class="n_inventario" href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}" target="_blank">{{ o.numero_inventario }}</a>
                        <small class="byanddate">{{ o.tipo_maquina}}</small>
                        <small class="byanddate">{{ o.fecha_compra }}</small>
                    </td>
                    <td class="celdaTipoIncidencia">
                        <ul class="primeraPoblacion">
                          {% for pueblo_asignado in o.pueblo_asignado.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-building"></i>
                                {{ pueblo_asignado.nombre.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for maquina_poblacion in o.maquina_poblacion.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-map-marker-alt"></i>
                                {{ maquina_poblacion.poblacion_mm.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for obra in o.obra.all %}
                            {% if forloop.first %}
                              <li class="Obra_{{ obra.nombre_obra|truncatechars:7 }}"><i class="far fa-clipboard"></i> {{ obra.nombre_obra }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                    </td>
                    <td align="center">{{ o.capataz_responsable.last_name}}</td>
                    <td>
                        {% for incidencias in o.incidencias.all %}
                            {% if incidencias.cerrado == False %}
                                <small class="componente">{{ incidencias.fecha }}</small>
                                <i class="fas fa-tools" style="color: {% if incidencias.taller == True %}red{% else %}#ddd{% endif %}"></i> {{ incidencias.tipo_incidencias }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
<!-- stihl 103 -->
                <tr><td colspan="7"><h3><a name="Stihl103">Stihl 103</a></h3></td></tr>
                {% for o in moto103 %}
                <tr>
                    <td class="counter"> {{ forloop.counter }}</td>
                    <td class="text-right">
                        <a class="n_inventario" href="{% url 'upr:maquina_detail' ninventario=o.numero_inventario %}" target="_blank">{{ o.numero_inventario }}</a>
                        <small class="byanddate">{{ o.tipo_maquina}}</small>
                        <small class="byanddate">{{ o.fecha_compra }}</small>
                    </td>
                    <td class="celdaTipoIncidencia">
                        <ul class="primeraPoblacion">
                          {% for pueblo_asignado in o.pueblo_asignado.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-building"></i>
                                {{ pueblo_asignado.nombre.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for maquina_poblacion in o.maquina_poblacion.all %}
                            {% if forloop.first %}
                              <li><i class="fas fa-map-marker-alt"></i>
                                {{ maquina_poblacion.poblacion_mm.nombre }}
                              </li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                      <ul class="primeraPoblacion">
                          {% for obra in o.obra.all %}
                            {% if forloop.first %}
                              <li class="Obra_{{ obra.nombre_obra|truncatechars:7 }}"><i class="far fa-clipboard"></i> {{ obra.nombre_obra }}</li>
                            {% endif %}
                          {% endfor %}
                      </ul>
                    </td>
                    <td align="center">{{ o.capataz_responsable.last_name}}</td>
                    <td>
                        {% for incidencias in o.incidencias.all %}
                            {% if incidencias.cerrado == False %}
                                <small class="componente">{{ incidencias.fecha }}</small>
                                <i class="fas fa-tools" style="color: {% if incidencias.taller == True %}red{% else %}#ddd{% endif %}"></i> {{ incidencias.tipo_incidencias }}<br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tablaHome tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}
