{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    GEPEMA - Añadir obra
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:100px;">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-xs-12">
                <h3>{{ maquina.tipo_maquina}} <a href="/upr/maquina/{{ maquina.numero_inventario }}/"><i class="fas fa-arrow-circle-left"></i></a></h3>
                <div></div>
                <h3 class="display-4"><small class="text-muted" style="font-size: 25%;">número inventario: </small><br>{{ maquina.numero_inventario }}</h3>
                <div>
                    <h4>HISTÓRICO OBRAS</h4>
                    {% for n in movimientos %}
                    <div class="bloquePoblacion">{{ n.nombre_obra }} <small>{{ n.fecha_movimiento }}</small><br>
                        <div class="comentario">{{ n.comentario }}</div>
                        <small class="idSmall">id: {{ n.pk }}</small>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col-lg-4 col-xs-12">
                <h2>AÑADIR OBRA</h2>
                <div class="form-group">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- INCIDENCIAS FORM -->

                <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
                    {% if form.errors %}
                        <div class="ag_form_login_message_error">
                            {% for field,error in form.errors.items %}
                                {{ field|capfirst }} - {{ error|striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="row with-margin">fecha: {{ form.fecha_movimiento }}</div>

                    <div class="row with-margin">comentario: {{ form.comentario }}</div>

                    <div class="row with-margin">obra: {{ form.nombre_obra }}</div>
                    <div class="row with-margin">

                        <input type="submit" value="realizar cambio de obra" class="btn btn-primary"/>
                    </div>

                </form>
                </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {

        });
    </script>
    <script>
    $( function() {
        $( "#id_fecha_movimiento" ).datepicker({ dateFormat: 'dd/mm/yy', firstDay: 1 });
        $('#id_fecha_movimiento').blur();
    } );
    </script>
{% endblock %}