{% extends "UPR/base.html" %}
{% load staticfiles %}

{% block title %}
    Últimas incidencias - GEPEMA
{% endblock %}

{% block navbar %}
    {% include 'UPR/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-xs-12">
            <h1 class="display-4"><small class="text-muted" style="font-size: 25%;">capataz: </small><br>{{request.user.last_name}}</h1>
            {% include 'UPR/snippets/navlinks.html' %}
        </div>
            <div class="col-lg-9 col-xs-12">
            <h2>ULTIMAS INCIDENCIAS | <input id="myInput" type="text" placeholder="buscar..."></h2>
            <table class="table table-striped" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">C</th>
                        <th class="text-center">T</th>
                        <th class="text-center">Id</th>
                        <th class="celdaTipoIncidencia">Tipo Incidencia</th>
                        <th class="text-center">Máquina</th>
                        <th class="text-center">Fecha</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody id="tablaHome">
<!-- Mis Maquinas -->
                <tr><td colspan="8"><h5> </h5></td></tr>



                    {% for i in incidencias %}
                <tr>
                        <td class="counter"> {{ forloop.counter }}</td>
                        <td colspan="3" width="15%" class="text-right">
                            <i class="fas fa-exclamation-triangle" style="color: {% if i.cerrado == False %}red{% else %}#ddd{% endif %}"></i>
                            <i class="fas fa-tools" style="color: {% if i.cerrado == False %}red{% else %}#ddd{% endif %}"></i>
                            <a href="/panel/UPR/incidencias/{{ i.id }}/change/" target="_blank" class="n_inventario">{{ i.pk }}</a><br>
                            <div class="byanddate"><strong>{{ i.capataz_responsable.last_name }}</strong> {{i.updated|date:"d-m-y H:i"}}</div>
                        </td>
                        <td  width="30%" class="celdaTipoIncidencia">
                            {% if i.mantenimientos != None %}<small class="mantenimientos">{{ i.mantenimientos }}</small>{% endif %}
                            {{ i.tipo_incidencias }}<small class="componente">{{ i.tipo_incidencias.grupo_componentes }}</small>

                            {{ i.campo_componente }}<br>
                        </td>
                        <td width="10%" class="text-center">
                            {% if i.n_inventario == None %}
                            --
                            {% else %}
                            <a href="{% url 'upr:maquina_detail' ninventario=i.n_inventario %}" target="_blank" class="n_inventario">{{ i.n_inventario }}</a>
                            {% endif %}
                        </td>
                        <td width="10%" class="text-center">
                            <small>A: {{ i.fecha|date:"d-m-y" }} {% if i.fechaCerrado != None %}<br> <span style="color: lime">C: {{ i.fechaCerrado|date:"d-m-y" }}</span>{% endif %}</small>
                        </td>
                        <td width="35%">
                            {{ i.comentario|linebreaks }}
                        </td>

</tr>
            {% endfor %}



</tbody>
            </table>

        </div>
             <div class="pagination">

          {% if incidencias.has_previous %}
            <a class="pagination-action" href="?page=1">
             <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?page={{ incidencias.previous_page_number }}">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          {% endif %}

          {% for num in incidencias.paginator.page_range %}

            {% if incidencias.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > incidencias.number|add:'-3' and num < incidencias.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
            {% endif %}

          {% endfor %}

          {% if incidencias.has_next %}
            <a class="pagination-action" href="?page={{ incidencias.next_page_number }}">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?page={{ incidencias.paginator.num_pages }}">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          {% endif %}

        </div>
        </div>

<!-- pagination //-->


    </div>
<div>



</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tablaHome tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}

<!--
    fecha: {{ a.fecha }} <br>
    comentario: {{ a.comentario }}
-->
