{% extends "museo/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block title %}
    Museo
{% endblock %}

{% block navbar %}
    {% include 'museo/snippets/navbar.html' %}
{% endblock %}

{% block content %}

    {% if museos %}
        <table id="museoTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nº inventari</th>
                    <th>Nom</th>
                    <th>Classe</th>
                    <th>Tipus</th>
                    <th>Nº peces</th>
                    <th>Utilitat</th>
                    <th>Procedencia</th>
                    <th>Propietari</th>
                    <th>Nº diposit material</th>
                    <th>Descripció</th>
                    <th>Any fabricació</th>
                </tr>
            </thead>
            <tbody>
                {% for m in museos %}
                <tr>
                    <!-- Para el enlace a admin: {% url 'admin:museo_museo_change' m.id %}-->
                    <td>{% if request.user.is_staff %}<a href="{% url 'museo:museu_detail' id=m.id %}" target="_blank">{{ m.n_inventari }}</a>{% else %}{{ m.n_inventari }}{% endif %}</td>
                    <td>{% if m.nom %}{{ m.nom }}{% endif %}</td>
                    <td>{% if m.classe.nom %}{{ m.classe.nom }}{% endif %}</td>
                    <td>{% if m.tipus.nom %}{{ m.tipus.nom }}{% endif %}</td>
                    <td>{% if m.n_peces %}{{ m.n_peces }}{% endif %}</td>
                    <td>{% if m.utilitat %}{{ m.utilitat }}{% endif %}</td>
                    <td>{% if m.procedencia %}{{ m.procedencia }}{% endif %}</td>
                    <td>{% if m.propietari %}{{ m.propietari }}{% endif %}</td>
                    <td>{% if m.n_diposit_material %}{{ m.n_diposit_material }}{% endif %}</td>
                    <td>{% if m.descripcio_us %}{{ m.descripcio_us }}{% endif %}</td>
                    <td>{% if m.any_fabricacio %}{{ m.any_fabricacio }}{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No hay objetos registrados.</h2>
    {% endif %}
{% endblock %}

{% block addscript %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#museoTable').DataTable({
                "ordering": false,
                "language": {
                    url: "/static/home/location/es_ES.json"
                },
                "lengthMenu": [[-1], ["Todas"]],
            });
        } );
    </script>
{% endblock %}