body {
 font-family: calibri, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" ;
 text-transform: uppercase;
}
h1 {}
h2 {
/* border-bottom: 10px solid #005792 ;*/
margin-bottom: 25px;}
.navbar {background-color: #005792 !important;}
.navbar-brand {
    font-size: 1rem;
}
.logoTragsa {width: 8rem;
    border-radius: 2px; }
.logoGepema {width: 14rem;
    border-radius: 2px;}
.logoUPR {width: 4rem;
    margin-left: 1rem;
    border-radius: 2px; display: none;}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
.container {
    padding-bottom: 100px;
    margin-top:100px;
}
h3 {
    margin-top: 0.9rem;
    color: #333;}
h4 {margin-top: 0.9rem;
    color: #666;
    margin: 0.6rem;
    font-weight: 400;}


#tablaHome {}
.n_inventario {font-family: inherit;
    padding: 0 0.3rem;
    background: seashell;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.5rem;
    /* color: #005792; */
    font-weight: 600;
    width: 100%;
    display: block;}
.n_inventario:hover {background-color: #dee2e6; color: blue; text-decoration: none;}
.n_incidencia {min-width: 3.35rem;
    display: inline-block;
    background: antiquewhite;}
.counter {    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.8rem;
    color: #888;}
.fecha {
display: block;
}
.fecha a {
    font-size: 0.9rem;
    font-weight: 900;
    font-family: monospace;
    }
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 0.8;
    background: #eee;
    padding: 3%;
    border-radius: 3px;
    MARGIN-BOTTOM: 3REM;
    border-bottom: 10px solid #ddd;
}
.display-numero {font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" }
.display-5 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 0.8;
    background: #eee;
    padding: 3%;
    border-radius: 3px;}

.capsula { background-color: #ccc;
    font-size: 0.8rem;
    padding: 0.2rem;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 1px 1px 2px -1px #000;
    }
small.componente {display: block;
    font-size: 62%;
    color: forestgreen;}

small.componente2 {
    font-size: 62%;
    color: white;
    background: #ccc;
    padding: 3px;
    border-radius: 2px;
    }
small.mantenimientos {    display: block;
    font-size: 62%;
    color: #777;
    padding: 0 0.2rem;
    border-radius: 2px;
    background: cornsilk;}
small.mono {
font-family: monospace;
font-size: 1rem;
display: block;
}
.campo_componente {display: block; color: #000; font-weight: 600;}
span.fecha {font-family: trebuchet ms;
    font-weight: 100;}

table.text-left.menuDetalles {
    font-size: 0.8rem;
}
.menuDetalles a {    background: seashell;
    padding: 0.3rem;
    text-align: left;
    border-radius: 2px;
    display: block;}
.menuDetalles a:hover {background-color: #005792; color: yellow; text-decoration: none;}

.menuDetalles small {font-size: 65%;
    color: forestgreen;}

.lineaTR {border-bottom: 1px solid #ccc;}
.lineaTR td {width: 50%;}
.table {
    border-collapse: collapse;
    border: 1px dashed seashell;
    width: 100%;
}
.table tr:hover {background-color: seashell;}
.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: seashell;
}

.table td, .table th {
    padding: .35rem;
    }
 /*
.puestoDestacado tr:first-child {
  background-color: #ddd;
}
*/
.with-margin {margin-bottom: 1rem;}

h2 > #myInput {
        border: 1px solid #005792;
    background: #e1e7f3;
    display: inline;
    padding: 0.4rem;
    font-size: 1rem;
    top: -4px;
    position: relative;
    border-radius: 2px;
}
}
div.comentario {    font-size: 70%;
    background: #ddd;
    border-bottom: 1px solid #000;}

   .bloquePoblacion {border-top: 1px solid #ccc; padding-top: 10px;}

.primeraPoblacion {padding: 0; margin: 0;}
.primeraPoblacion li {display: block; list-style-type: none; margin: 0; padding: 0}
.primeraPoblacion li:first-child {display: block;}

.enlaceMaquina {
font-size: 1.5rem;
line-height: 2rem;
font-weight: 600;
}
.yellow {background-color: yellow;}





.pagination {
    text-align: center;
    margin-top: 1em;
}

.pagination-number {
    padding: .8em 1.5em 0 1.5em;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
    margin: 0 0.5em 0;
}

.pagination-number:hover, .pagination-current {
    background-color: #3354AA;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover, .pagination-previous, .pagination-next {
    color: #3354AA;
}

.byanddate {font-size: 0.6rem; float: right;}

.celdaTipoIncidencia {border-left: 1px dashed #ddd;}




.navlinks {
    width: 100%;
    background: #eee;
    border-radius: 3px;
    border-top: 10px solid #ddd;
    margin-top: 1rem;}

.navlinks ul {display: inline-block;}
.navlinks li {    margin: 10px 0px;
    list-style: none;}
.navlinks a {    background: seashell;
    padding: 0.3rem;
    text-align: left;
    border-radius: 2px;
    display: block;}
.navlinks a:hover {background-color: #005792; color: yellow; text-decoration: none;}
.navlinks i {margin: 3px 8px 3px 8px;}

.idSmall {color: #999; font-size: 0.65rem;}

th {
    color: #000;
    font-weight: 600;
}